
<div id="myModal18"  style="display: none;top: 4%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" role="dialog">
    <div class="modal-dialog modal-md emaildiv">
        <!-- Modal content-->
        <div class="modal-content" style=" margin-top: 206px;">
            <div class="modal-body">
                <h2>You cannot Access this service</h2>
                <div class="padnew">
                    <!--<p><strong>Enter Email ID here</strong></p> -->
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <label> -->
                                    To avail this service <span><a (click)="openpopup()" style="cursor: pointer;" >Click here</a></span> or send email to <b>tradesupport@360tf.trade</b>
                                <!-- </label> -->
                                
                               
                            </div>
                            <button type="submit" class="btn btn-info pull-right" (click)="closed()" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal19"  style="display: none;top: 4%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" role="dialog">
<div class="modal-dialog modal-md emaildiv">
    <!-- Modal content-->
    <div class="modal-content" style=" margin-top: 206px;">
        <div class="modal-body">
            <h2>Thank You</h2>
            <div class="padnew">
                <!--<p><strong>Enter Email ID here</strong></p> -->
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                         
                            Thank you for showing your interest , our relationship officer will connect you shortly  
                           
                        </div>
                        <button type="submit" class="btn btn-info pull-right" (click)="closepopup()" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
