<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="fas fa-money-check-alt"></i>
                                        </div>
                    <div class="card-content">
                        <h4 class="card-title"> <span id="changetext"><b style="font-weight: 500 !important; "> Credits and Transactions</b></span>
                           
                        <ul class="pull-right list-unstyled list-inline statusbar" style="margin-top: 0px;margin-bottom: 23px;">
                            <li>
                                <label *ngIf="creditUsed>=0">Total Trxn <span class="numbdiv">{{totalTrnx}}</span></label>
                            </li>
                            <li>
                                <label *ngIf="creditUsed>=0">Credits Utilized <span class="numbdiv">{{creditUsed}}</span></label>
                            </li>
                            <!-- <li>
                                <label *ngIf="totalSavings>=0">Total Savings <span class="numbdiv">{{totalSavings}}</span></label>
                            </li> -->
                            <li>
                                <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;font-size: 13px;">         
                                    <li>
                                        <!-- <input type="text" class="datepicker" placeholder="Start Date">  -->
                                        <mat-form-field (click)="startDate.open()" style="padding-right: 14px!important;top: 19px;">
                                            <mat-label>Start Date</mat-label>
                                            <input autocomplete="off" readonly matInput  (keydown)="validateRegexFields($event, 'date_validation')" [matDatepicker]="startDate" (dateChange)="changeStartDate( $event)">
                                            <mat-datepicker-toggle matSuffix [for]="startDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #startDate>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <!-- <input type="text" class="datepicker" placeholder="Start Date">  -->
                                        <mat-form-field (click)="endDate.open()" style="top: 19px;">
                                            <mat-label>End Date</mat-label>
                                            <input autocomplete="off" readonly (keydown)="validateRegexFields($event, 'date_validation')" matInput  [matDatepicker]="endDate" (dateChange)="changeEndDate($event)">
                                            <mat-datepicker-toggle matSuffix [for]="endDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #endDate>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </h4>
                        <!-- <div id="addOptions" class="addOptions inputDiv selectdiv pull-right col-md-4">
                            <label style="top: 0px;font-size: 12px;padding-left: 7px;">Select Subsidiary</label>
                            <select (change)="selectCompany($event.target.value)" class="has-value"> 
                            <option value=''>All</option>
                            <option *ngFor="let data of subsidiary"  [ngValue]='data'>{{data}}</option>
                        </select>
                        </div> -->
                       
         
                        <!-- <form> -->
                            <div class="row" *ngIf="noData">
                                <div class="col-md-12" >
                                    No Data is available
                                </div>
                                </div>

                                <div class="row" *ngIf="!noData">

                                <div class="col-md-12" >
                                    <div class="table-responsive material-datatables" cellspacing="0" width="100%" style="width:100%;overflow-x: hidden;">
                                            <!-- <div id="addOptions" class="addOptions inputDiv selectdiv pull-right col-md-4">
                                                <label style="top: 0px;font-size: 12px;padding-left: 7px;">Select Subsidiary</label>
                                                <select (change)="selectCompany($event.target.value)" class="has-value"> 
                                                <option value=''>All</option>
                                                <option *ngFor="let data of subsidiary"  [ngValue]='data'>{{data}}</option>
                                            </select>
                                            </div> -->
                                            <div class="row" *ngIf="userCU">
                                                <div class="col-sm-10 col-lg-10 col-md-10 parentOfSelect" *ngIf="disablesubsi" >
                                                    <div id="addOptionsub" class="addOptions inputDiv selectdiv pull-right col-md-4">
                                                       <!-- <label style="top: 5px;font-size: 12px;padding-left: 7px;">Group Company</label> -->
                                                       <label style="top: 5px;font-size: 12px;padding-left: 7px;">Group Companies</label>
                                                       <select (change)="selectSubsidiaries($event.target.value)"  class="has-value"> 
                                                         <option *ngFor="let data of subsidiaries" [value]="data.subUserId" >{{data.subCompany}}</option>                               
                                                      </select>
                                                </div>
                                            </div> 
                                            <div class="col-sm-10 col-lg-10 col-md-10 parentOfSelect" *ngIf="disableUserCode">
                                             <div id="addOptions" class="addOptionsuser inputDiv selectdiv pull-right col-md-4">
                                                <label style="top: 5px;font-size: 12px;padding-left: 7px;">Passcode users</label>
                                                <select (change)="selectUsercode($event.target.value)"  class="has-value"> 
                                                   <option *ngFor="let data of usercode" [value]="data.employeeEmail" >{{data.employeeEmail}}</option>                        
                                                </select>
                                         </div>
                                     </div>
                                        </div>  
                                        <div class="row" *ngIf="userBC">
                                           
                                        <div class="col-sm-10 col-lg-10 col-md-10 parentOfSelect" *ngIf="disableUserCode">
                                         <div id="addOptions" class="addOptionsuser inputDiv selectdiv pull-right col-md-4">
                                            <label style="top: 5px;font-size: 12px;padding-left: 7px;">Passcode users</label>
                                            <select (change)="selectUsercode($event.target.value)"  class="has-value"> 
                                               <option *ngFor="let data of usercode" [value]="data.employeeEmail" >{{data.employeeEmail}}</option>                        
                                            </select>
                                     </div>
                                 </div>
                                    </div>    
                                        <div class="row" *ngIf="userBA">
                                            <div class="col-sm-10 col-lg-10 col-md-10 parentOfSelect" *ngIf="disablesubsi">
                                                <div id="addOptionsub" class="addOptionsuser inputDiv selectdiv pull-right col-md-4" style="right: 28%;">
                                                    <label style="top: 5px;font-size: 12px;padding-left: 7px;">Additional users</label>
                                                   <select (change)="selectSubsidiaries($event.target.value)"  class="has-value"> 
                                                     <option *ngFor="let data of subsidiaries" [value]="data.subUserId" >{{data.emailId}}</option>                               
                                                  </select>
                                                  
                                            </div>
                                        </div> 
                                        </div>
                                        <table class="table table-hover" id="datatables">
                                            <thead>
                                                    <tr>
                                                        <th style="min-width: 20px !important;" class="text-center">#</th>
                                                        <th style="min-width: 130px;">Date</th>
                                                        <!-- <th style="min-width: 150px;">{{bankName}}</th> -->
                                                        <th style="min-width: 180px;">Trxn ID</th>
                                                        <th style="min-width: 180px;">Trxn Type</th>
                                                        <th style="min-width: 120px;">Country</th>
                                                        <th [hidden]="isPasscodeUser" style="min-width: 260px;">Email ID</th>
                                                        <th style="min-width: 270px;">Trxn Status</th>
                                                        <th style="min-width: 120px;">Credits Used</th>
                                                        <th [hidden]="userBA" style="min-width: 120px;">Savings</th>
                                                        <th style="min-width: 120px;">Ccy</th>
                                                    </tr>
                                                </thead>
                                            <tbody>
                                                <tr *ngFor="let list of creditData; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td nowrap>{{list.txnInsertedDate | date : "dd-MM-y"}}</td>
                                                    <!-- <td>{{list.companyName}}</td> -->
                                                    <td>{{list.transactionId}}</td>
                                                    <td>
                                                        <div *ngIf="list.transactionType=='Banker' || list.transactionType=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                                        <div *ngIf="list.transactionType=='ConfirmAndDiscount' || list.transactionType=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                                        <div *ngIf="list.transactionType=='Refinance' || list.transactionType=='Refinancing'">Refinancing </div>
                                                        <div *ngIf="list.transactionType=='Discounting'">Discounting</div>
                                                        <div *ngIf="list.transactionType=='Confirmation'">Confirmation</div>
                                                        <div *ngIf="list.transactionType=='BankGuarantee'">Bank Guarantee</div>
                                                        <div *ngIf="list.transactionType=='BillAvalisation'">Avalisation</div>
                                                    </td>
                                                    <td>{{list.countryName}}</td>
                                                    <td [hidden]="isPasscodeUser" *ngIf="!passcode">{{list.emailAddress}} </td>
                                                    <td *ngIf="passcode">{{list.passcodeUser}}</td>
                                                    <td>{{list.transactionStatus}}</td>
                                                    <td nowrap >{{list.creditUsed}}
                                                       <div *ngIf="list.transactionStatus=='Rejected' && list.creditUsed==0 ">Refunded</div>
                                                    </td>
                                                    <td [hidden]="userBA" nowrap >{{list.savings}}</td>
                                                    <td nowrap >{{list.ccy}}</td>
                                                </tr>
                                                                                        
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right downloaddiv">
                                        <ul class="list-unstyled list-inline">
                                            <li>Download</li>
                                            <!-- <li><a href="javascript:void()" class="pdf"><span class="fas fa-file-pdf"></span></a></li> -->
                                            <li><a href="javascript:void()" class="excel"><span class="fas fa-file-excel"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>