<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>NIMAI</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <!-- <div class="wrapper"> -->

    <!-- <div class="main-panel"> -->

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div
                class="card-header card-header-icon"
                data-background-color="blue"
              >
                <i class="fas fa-user"></i>
              </div>
              <div class="card-content personal_details">
                <h4 class="card-title cheader-title">
                  <b style="font-weight: 600 !important; ">Personal Details </b></h4>
                <form [formGroup]="personalDetailsForm" (ngSubmit)="submit()">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="30"
                          formControlName="firstName"
                          onPaste="return false"
                          (keydown)="
                            validateRegexFields($event, 'name_validation')
                          "
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>First Name</label>
                        <div
                          *ngIf="submitted && perDetails.firstName.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="perDetails.firstName.errors.required">
                            First Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="30"
                          formControlName="lastName"
                          onPaste="return false"
                          (keydown)="
                            validateRegexFields($event, 'name_validation')
                          "
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Last Name</label>
                        <div
                          *ngIf="submitted && perDetails.lastName.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="perDetails.lastName.errors?.required">
                            Last Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="70"
                          oninput="this.value = this.value.toLowerCase()"
                          [readonly]="true"
                          formControlName="emailId"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Official Email ID</label>
                        <div
                          *ngIf="submitted && perDetails.emailId.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted && perDetails.emailId.errors?.required
                            "
                          >
                            Email is required
                          </div>
                          <div *ngIf="perDetails.emailId.errors?.pattern">
                            Invalid Email id
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--added by ashvini - validation added for mobile number and landline number-->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="inputDiv">
                        <input
                          type="text"
                          formControlName="mobileNo"
                          maxlength="15"
                          (keypress)="validateRegexFields($event, 'number')"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Mobile No.</label>
                        <div
                          *ngIf="submitted && perDetails.mobileNo.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted && perDetails.mobileNo.errors?.required
                            "
                          >
                            Mobile No is required
                          </div>
                        </div>
                        <div
                          *ngIf="submitted && perDetails.mobileNo.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="perDetails.mobileNo.errors?.minlength">
                            Mobile No atleast of 7 digits.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="inputDiv">
                        <input
                          type="text"
                          formControlName="landLineNo"
                          maxlength="12"
                          (keypress)="validateRegexFields($event, 'number')"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Landline No.</label>
                        <div
                          *ngIf="submitted && perDetails.landLineNo.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="submitted && perDetails.landLineNo.errors?.required">
                            Landline No is required
                          </div>
                        </div>
                        <div *ngIf="submitted && perDetails.landLineNo.errors?.minlength" class="invalid-feedback">
                          Landline No atleast of 7 digits.
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <!-- <div class="inputDiv " > selectdiv -->
                      <div class="inputDiv selectdiv">
                        <select
                          formControlName="country"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        >
                          <option value="">Select</option>
                          <option
                            *ngFor="let data of resp"
                            [ngValue]="data.country"
                          >
                            {{ data.country }}
                          </option>
                          <!-- <option value="India">India</option>
                                                <option value="Australia">Australia</option>
                                                <option value="BanglaDesh">Bangladesh</option> -->
                        </select>
                        <label>Select Country</label>
                        <div
                          *ngIf="submitted && perDetails.country.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted && perDetails.country.errors.required
                            "
                          >
                            Select a Country
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isReferrer">
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="30"
                          formControlName="companyName"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Company Name</label>
                        <div
                          *ngIf="submitted && perDetails.companyName.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.companyName.errors.required
                            "
                          >
                            Company Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isReferrer">
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="30"
                          formControlName="designation"
                          (keypress)="validateRegexFields($event, 'alphaNum')"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                        <label>Designation</label>
                        <div
                          *ngIf="submitted && perDetails.designation.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.designation.errors.required
                            "
                          >
                            Designation is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isReferrer">
                      <div class="inputDiv">
                        <select
                          formControlName="businessType"
                          [ngClass]="hasValue ? 'has-value' : ''" (change)="changeType($event.target.value)">
                          <option [ngValue]="null" selected>Select</option>
                          <option value="Bank">Bank</option>
                          <option value="CA Firm">CA Firm</option>
                          <option value="Law Firm">Law Firm</option>
                          <option value="Corporate">Corporate</option>
                          <option value="Consultant">Consultant</option>
                          <option value="Others">Others</option>
                        </select>
                        <label>Business Type</label>
                        <div
                          *ngIf="submitted && perDetails.businessType.errors"
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.businessType.errors.required
                            "
                          >
                            Select Business Type
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 referrerdiv" *ngIf="isReferrer && isReferrerOther">
                      <div class="inputDiv">
                         <input type="text" maxlength="30" formControlName="otherType">
                         <label>Other</label>
                      </div>
                   </div>
                    <div
                      class="col-sm-3 col-md-3 col-lg-2 bankfields"
                      *ngIf="isBankUnderwriter"
                    >
                      <div class="inputDiv">
                        <input
                          type="text"
                          maxlength="15"
                          formControlName="minLCVal"
                          (keypress)="validateRegexFields($event, 'number')"
                          [ngClass]="hasValue ? 'has-value' : ''"
                        />
                       
                        <label>Minimum Value of LC </label>
                      
                      </div>
                    </div>
                    <div  class="col-sm-3 col-md-3 col-lg-1 bankfields"  *ngIf="isBankUnderwriter">
                      <div class="inputDiv">
                      <select class="currency" formControlName="regCurrency">
                        <!-- <option value=''>Select</option> -->
                        <option *ngFor="let data of currencies" [ngValue]='data'>{{data}}</option>
                    </select>
                    <label>Ccy </label>
                  </div>
                </div>
                    <div
                      class="col-sm-6 col-md-6 col-lg-3 bankfields"
                      *ngIf="isBankUnderwriter"
                    >
                        <!-- for bankas isBankUnderwriter -->
                       

                        <!-- End -->

                      <div class="inputDiv multiselect-dropdown" *ngIf="isBankUnderwriter">
                        <ng-multiselect-dropdown-angular7 [data]="countryArray" formControlName="countriesInt" [(ngModel)]="intCntTemp" [settings]="dropdownSetting" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)"></ng-multiselect-dropdown-angular7>
                        <label class="dropdownlabel" style="margin-top: -12px !important;">Issuance Countries Interested</label>
                        <div
                          *ngIf="submitted && perDetails.countriesInt.errors"
                          class="invalid-feedback"  style="top: 41px;"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.countriesInt.errors?.required">
                            Select Issuance Countries Interested
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-6 col-md-6 col-lg-3 bankfields"
                      *ngIf="isBankUnderwriter"
                    >
                      <div class="inputDiv multiselect-dropdown">
                        <ng-multiselect-dropdown-angular7 [data]="goodsArray" formControlName="blacklistedGC"
                         [(ngModel)]="blgTemp"  [disabled]="disabledNone" [settings]="dropdownSettingGoods"
                          (onSelect)="onItemSelectBG($event)"  ></ng-multiselect-dropdown-angular7>
                        <label class="dropdownlabel">Blacklisted Goods</label>
                        <div
                          *ngIf="submitted && perDetails.blacklistedGC.errors"
                          class="invalid-feedback" style="top: 41px;"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.blacklistedGC.errors?.required
                            "
                          >
                            Select Blacklisted Goods
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"  *ngIf=" isOptionNone">
                        <button type="button" class="closeNone closeBtn"     
                         (click)="closeNone()">&times;</button>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-3 bankfields" *ngIf="isBankOther">
                      <div class="inputDiv">
                        
                         <input type="text" maxlength="30" formControlName="otherTypeBank">
                         <!-- <i class="fa fa-address-card fa-1"></i> -->
                         <label>Other</label>
                         <div
                          *ngIf="submitted && perDetails.otherTypeBank.errors"
                          class="invalid-feedback"  style="top: 41px;"
                        >
                          <div
                            *ngIf="
                              submitted &&
                              perDetails.otherTypeBank.errors?.required
                            "
                          >
                            Select Other 
                          </div>
                        </div>
                      </div>
                   </div>
                   <div
                   class="col-sm-6 col-md-6 col-lg-3 bankfields"
                   *ngIf="isBankUnderwriter"       >
                   <div class="inputDiv multiselect-dropdown">
                    <ng-multiselect-dropdown-angular7 [data]="countryArray" formControlName="beneInterestedCountry" [(ngModel)]="intBeneCntTemp" [settings]="dropdownSettingBene" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)"></ng-multiselect-dropdown-angular7>
                    <label class="dropdownlabel">Beneficiary Countries Interested</label>
                    <div
                      *ngIf="submitted && perDetails.beneInterestedCountry.errors"
                      class="invalid-feedback"  style="top: 41px;"
                    >
                      <div
                        *ngIf="
                          submitted &&
                          perDetails.beneInterestedCountry.errors?.required">
                        Select Beneficiary Countries Interested
                      </div>
                    </div>
                  </div>
                  </div>

                    <input type="hidden" formControlName="subscriberType" />
                    <input type="hidden" formControlName="userId" />
                    <input type="hidden" formControlName="bankType" />
                    <h4 class="card-title col-md-12 newh4">
                      Additional Email IDs
                      <span
                        data-toggle="tooltip"
                        data-placement="auto"
                        title="Along with your primary email id Subscription, Payment and Monthly reports will be delivered on this email IDs as well"
                      >
                        &nbsp;<i class="fas fa-question-circle"></i
                      ></span>
                    </h4>
                    <div class="field_wrapper col-md-12">
                      <!-- <div formArrayName="otherEmails" *ngFor="let item of personalDetailsForm.get('otherEmails').controls; let i = index;"> -->
                      <!-- <div class="row" [formGroupName]="i"> -->
                      <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                          <div class="inputDiv">
                            <input
                              type="text"
                              maxlength="70"
                              formControlName="emailAddress1"
                              oninput="this.value = this.value.toLowerCase()"
                            />
                            <label> Email Id 1</label>
                            <!-- <div *ngIf="item.controls.emailAddress1.errors?.pattern" class="invalid-feedback"> -->
                            <div
                              *ngIf="perDetails.emailAddress1.errors?.pattern"
                              class="invalid-feedback"
                            >
                              Invalid Email Id
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                          <div class="inputDiv">
                            <input
                              type="text"
                              maxlength="70"
                              formControlName="emailAddress2"
                              oninput="this.value = this.value.toLowerCase()"
                            />
                            <label> Email Id 2</label>
                            <div
                              *ngIf="perDetails.emailAddress2.errors?.pattern"
                              class="invalid-feedback"
                            >
                              Invalid Email Id
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                          <div class="inputDiv">
                            <input
                              type="text"
                              maxlength="70"
                              formControlName="emailAddress3"
                              oninput="this.value = this.value.toLowerCase()"
                            />
                            <label> Email Id 3</label>
                            <div
                              *ngIf="perDetails.emailAddress3.errors?.pattern"
                              class="invalid-feedback"
                            >
                              Invalid Email Id
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-sm-6 col-md-6 col-lg-3">
                                                <div class="inputDiv" *ngIf="i==0">
                                                    <button type="button" class="btn btn-info btn-xs add_button"
                                                        (click)="add(i)" title="Add field">Add More</button>
                                                </div>
                                                <div class="inputDiv" *ngIf="i>0">
                                                    <button type="button"
                                                        class="btn btn-info btn-xs add_button" (click)="remove(i)" title="Remove field">Remove</button>
                                                </div>
                                                </div> -->
                      </div>
                      <!-- </div> -->
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info pull-right">
                    Update Profile
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3"></div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div> -->
  </body>
</html>
