.dropdownlabel{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 9px!important;
    font-weight: 500!important;
    letter-spacing: 0.4px!important;
    position: absolute!important;
    /* top: -7px!important; */
    left: 5px!important;
    transform: translateY(-50%)!important;
    color: #999!important;
    transition: all 0.15s ease-out 0s!important;
    pointer-events: none!important;
}
.personal_details .inputDiv .invalid-feedback {
	display: block;
    position: absolute;
    top: 30px;
    right: 2px;
    color: #ff0330;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
}
.closeNone {
    color: rgb(0, 140, 255);
    float: right;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    z-index: 9;
    margin-left: 72%;
    border: gray;
    
}
.closeBtn{
    left: 150px;
    margin-left: 167px;
    top: -66px;
    padding-left: 3px;
    padding-right: 2px;
    bottom: 0px;
    margin-bottom: 2px;
    margin-top: 3px;
    padding-top: 5px;
    background: border-box;
}
select{
    color: #545454!important;
    padding: .5em!important;
    padding-right: 1.5em!important;
}
.field_wrapper a {
    font-size: 11px !IMPORTANT;
    display: inline-block;
}
::ng-deep .dropdown-list .item2{
    max-height: 155px !important;
}

.newh4{
  padding: 5px 15px 10px 15px !important;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px!important;
}

.newh4 span i{
 font-size: 15px !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn{
    font-size: 12px!important;
    margin-top: 8px!important;
}

  ::ng-deep .multiselect-dropdown .dropdown-btn span {
    /* margin-left: 15px!important; */
    margin-left: 0px!important;
    margin-top: 13px!important;
}
::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
    margin-right: -8px !important;
    margin-top: 2px !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn span[hidden] {
    display: none!important;
  }

::ng-deep .dropdown-list .item2{
    max-height: 130px !important;
}
::ng-deep .dropdown-list .item1{
    max-height: 130px !important;
}

.newselect {
    margin-left: 0px!important;
    margin-top: 13px!important;
}


