<div class="content" >
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header-icon" data-background-color="blue">
                  <i class="fas fa-file-invoice-dollar"></i>
               </div>
               <div class="card-content">
                  <h4 class="card-title"><b style="font-weight: 500 !important; ">Vas Plans</b></h4>
                  <div class='col-md-8' *ngIf="noVas">
                     <p  style="margin-bottom: 15px;">No VAS Available</p>
                    
                  </div>       
                  <div class="col-md-4" *ngIf="showVasPlan">
                     <p *ngIf="isRejected" class="errormessage text-success" style="margin-bottom: 5px;padding-top: 15px;">{{isActive}}</p>
                     <div class="boxline" >
                        <p>
                           <strong style="background: #65b0f3;color: white;">Advisory Services</strong>
                        </p>
                        <table *ngFor="let advDetail of advDetails">
                           <tr>
                              <td   class="text-left">
                                 <b>{{advDetail?.plan_name}}</b>
                                 <ul>
                                    <li *ngIf="advDetail.description_1">{{advDetail.description_1}}</li>
                                    <li *ngIf="advDetail.description_2">{{advDetail.description_2}}</li>
                                    <li *ngIf="advDetail.description_3">{{advDetail.description_3}}</li>
                                    <li *ngIf="advDetail.description_4">{{advDetail.description_4}}</li>
                                    <li *ngIf="advDetail.description_5">{{advDetail.description_5}}</li>
                                 </ul>
                              </td>
                              <td class="text-right">
                                 <p><strong>US ${{advDetail?.pricing}}</strong></p>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2">
                                 <input id="curtainInput" [disabled]='addBtn' (click)="addAdvService($event,advDetail.vas_id,advDetail.pricing)"  style="bottom: 29px;"
                                 type="button" value="Add" class="btn btn-info btn-sm pull-right" />
                              </td>
                           </tr>
                        </table>
                     </div>
                     <table class="table">
                        <!-- <tr>
                           <td>
                              <label class="customlabel">Sub Total</label>
                           </td>
                           <td>US ${{addedAmount}}</td>
                        </tr>                       
                        <tr>
                           <td>
                              <label class="customlabel">Discount</label>
                           </td>
                           <td>US $0</td>
                        </tr> -->
                        <tr>
                           <th>
                              Grand Total  <a class="" data-toggle="tooltip" data-placement="right"
                              title="Grand Total is calculated on pro rata basis for remaining months of your subscription validity."><i
                                  class="fas fa-info-circle"
                                  style="font-size: 11px !important;color: #333;cursor: pointer;"></i></a>
                           </th>
                           <th>
                               ${{addedAmount}}
                           </th>
                        </tr>
                     </table>
                     <button *ngIf="hideAddBtn" type="button" (click)="addVasPlan(advDetails)" style="margin-top:10px;" class="btn btn-info pull-right">
                        Add Vas
                        <div class="ripple-container"></div>
                     </button>
                  </div>   
                  <div class='col-md-8' *ngIf="showSuccess">
                     <p class="errormessage text-success" style="margin-bottom: 15px;  padding-top: 15px;"> {{isActive}}</p>
                     <div class="col-md-4">
                           <div class="boxline">
                              <p>
                                 <strong  style="background: #00bcd4;color: white;">Advisory Services</strong>
                              </p>
                              <table  *ngFor="let viewAdvDetail of viewAdvDetails">
                                 <tr>
                                    <td class="text-left">
                                       <b>{{viewAdvDetail.plan_name}}</b>
                                       <ul>
                                          <li *ngIf="viewAdvDetail.description_1">{{viewAdvDetail.description_1}}</li>
                                          <li *ngIf="viewAdvDetail.description_2">{{viewAdvDetail.description_2}}</li>
                                          <li *ngIf="viewAdvDetail.description_3">{{viewAdvDetail.description_3}}</li>
                                          <li *ngIf="viewAdvDetail.description_4">{{viewAdvDetail.description_4}}</li>
                                          <li *ngIf="viewAdvDetail.description_5">{{viewAdvDetail.description_5}}</li>
                                       </ul>
                                    </td>
                                    <td class="text-right">
                                       <p><strong> &nbsp; ${{viewAdvDetail.pricing}}</strong></p>
                                    </td>
                                 </tr>
                                 <br>
                              </table>
                           </div>
                        </div> 
                  </div>  
                  
                    


                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="trnxInactiveVas" style="display: none;top: 20%;z-index: 9999;opacity: 1;padding-bottom: 40px;width: 100%;" class="popupnew modal fade" >
   <div class="modal-dialog modal-md emaildiv">
      <!-- Modal content-->
      <div class="modal-content" style="padding-bottom: 25px;width: 100%;top: 39px;">
         <div class="modal-body">
            <h2>Transaction Not Allowed!</h2>
               <div class="row">
                  <!--<p><strong>Enter Email ID here</strong></p> -->
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-12" style="padding-left: 32px;">
                           <p>  {{trnxMsg}}</p>

                        </div>
                     </div>
                     <button type="submit" class="btn btn-info pull-right" style="right: 16px;" (click)="inactiveOk()">OK</button>
                  </div>
               </div>
         </div>
      </div>
   </div>
 </div>
 <div id="txnPending" style="display: none;top: 20%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
   <div class="modal-dialog modal-md emaildiv">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-body">
            <h2>{{paymentStatus}} </h2>
            <div class="padnew">
               <div class="row">
                  <!--<p><strong>Enter Email ID here</strong></p> -->
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <p>{{trnxPendingMsg}}</p>
                          
                        </div>
                     </div>
                     <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="pendingOkBtn()">OK</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
<router-outlet></router-outlet>