<div class="row" [formGroup]="LcDetail">
    <div class="col-md-12 ">

        <ul class="list-unstyled list-inline">
            <li>
                <div class="selection" *ngIf="disableRadiobtn">
                    <p class=""><strong>You are</strong></p>
                </div>
            </li>
            <li>
                <div class="radio" *ngIf="disableRadiobtn">
                    <label >
                        <input type="radio" value="Applicant" id="rdApplicant" name="userType" formControlName="userType"
                            (change)="onItemChange($event.target.value,null,null,null,null,null,null)"><span class="circle"></span><span class="check"></span>
                        Applicant
                    </label>
                </div>
            </li>
            <li>
                <div class="radio" *ngIf="disableRadiobtn">
                    <label >
                        <input type="radio" value="Beneficiary" name="userType" formControlName="userType" id="rdBeneficiary"
                         (change)="onItemChange($event.target.value,null,null,null,null,null,null)">
                        <span class="circle"></span><span class="check"></span>
                        Beneficiary
                    </label>
                </div>
            </li>
        </ul>

    </div>
    <div id="divApplicant">
        <p class="col-md-12"><strong>Applicant Details</strong>
        </p>
        <div class="col-md-3" *ngIf="disableRadiobtn">
            <div class="inputDiv selectdiv">
                <input type="text" maxlength="50" formControlName="applicantCountry"  readonly="true" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Country</label>
            </div>
        </div>
        <div class="col-md-3" *ngIf="disableRadiobtn">
            <div class="inputDiv selectdiv">
           <mat-select formControlName="applicantName" (selectionChange)="selectSubsidiaries($event.value)"
            class="roleselct" 
            autocomplete="off" style="margin-top: 5px;">
                <input (keyup)="onKey($event.target.value)" (keydown)="$event.stopPropagation()" autocomplete="off" class="inputSearch" 
                placeholder="Select Subsidiary"> 
               <!-- <mat-option [value]="">Select</mat-option> -->
               <mat-option *ngFor="let item of selectedcountry" [value]="item.subCompany">{{item.subCompany}}</mat-option>
             </mat-select> 
             <label style="top: -5px;">Group Companies</label>

                <!-- <select (change)="selectSubsidiaries($event.target.value)" formControlName="applicantName"
                 [(ngModel)]="parentID"  > 
                    <option *ngFor="let data of subsidiaries" [ngValue]="data.subCompany" >{{data.subCompany}}</option>                               
                 </select>
                 <label>Subsidiaries</label> -->
              </div>
        </div>
        <div class="col-md-3" *ngIf="!disableRadiobtn">
            <div class="inputDiv selectdiv">
    
                <select name='country' formControlName="applicantCountry">
                    <option [ngValue]="null" selected>Select</option>
                    <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                </select>
                <label>Country</label>
            </div>
        </div>
        <div class="col-md-3" *ngIf="!disableRadiobtn">
            <div class="inputDiv">
                <input type="text" maxlength="50"   formControlName="applicantName" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Applicant's Name</label>
            </div>
        </div>
        <div class="col-md-3" *ngIf="!disableRadiobtn">
            <div class="inputDiv">
                <input type="text" maxlength="50"  formControlName="applicantContactPerson" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Contact Person</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv" *ngIf="!disableRadiobtn">
                <input type="text" maxlength="45" formControlName="applicantContactPersonEmail"  oninput="this.value = this.value.toLowerCase()" (keydown.space)="$event.preventDefault();" (keyup)="onKeyUpAppEmail($event)">
                <label>Contact Person's Email</label>
                <div *ngIf="isValidAppEmail" class="invalid-feedback">
                    Invalid Email id
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="col-md-12"><strong>Beneficiary Details</strong>
        </p>

        <div class="col-md-3">
            <div class="inputDiv selectdiv">

                <select name='country' formControlName="beneCountry">
                    <option [ngValue]="null" selected>Select</option>
                    <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                 </select>
                <label>Country</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="50"   formControlName="beneName">
                <label>Beneficiary's Name</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="30"  formControlName="beneContactPerson" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Contact Person</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="45" formControlName="beneContactPersonEmail"  oninput="this.value = this.value.toLowerCase()"  (keydown.space)="$event.preventDefault();" (keyup)="onKeyUpBeneEmail($event)">
                <label>Contact Person's Email</label>
                <div *ngIf="isValidBeneEmail" class="invalid-feedback">
                    Invalid Email id
                </div>
            </div>
        </div>
        <div class="clearfix"></div> 
        <div class="clearfix"></div>
        <p  class="col-md-12"><strong>Beneficiary Bank Details</strong></p>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">

                <select name='country' formControlName="beneBankCountry" class="select_country">
                    <option [ngValue]="null" selected>Select</option>
                    <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                  
                </select>
                <label>Country of Beneficiary Bank</label>
            </div>
        </div>

        <div class="col-md-3" >
            <div class="inputDiv">
                <input type="text" maxlength="11" formControlName="beneSwiftCode"   (keypress)="validateRegexFields($event, 'alphaNumericNoSpace')">
                <label>Swift Code</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">

                <input type="text" maxlength="50" formControlName="beneBankName"  (keydown)="validateRegexFields($event, 'alphaNspace')">
                <label>Bank Name</label>
            </div>
        </div>
    </div>
    <div id="divBene">
        <p class="col-md-12"><strong>Beneficiary Details</strong>
        </p>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">

                <input type="text" maxlength="50"  formControlName="beneCountry" readonly="true" (keydown)="validateRegexFields($event, 'alphaNspace')">
                <label>Country</label>
            </div>

        </div>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">
         
                <!-- <select (change)="selectSubsidiaries($event.target.value)"  formControlName="beneName" [(ngModel)]="parentID1" > 
                    <option *ngFor="let data of subsidiaries" [ngValue]="data.subCompany"  >{{data.subCompany}}</option>                               
                 </select>
                 <label>Subsidiaries</label> -->
                 <mat-select formControlName="beneName" (selectionChange)="selectSubsidiaries($event.value)" class="roleselct" autocomplete="off" style="margin-top: 5px;">
                    <input (keyup)="onKey($event.target.value)" (keydown)="$event.stopPropagation()" autocomplete="off" class="inputSearch" 
                    placeholder="Select Subsidiary"> 
                   <!-- <mat-option [value]="">Select</mat-option> -->
                   <mat-option *ngFor="let item of selectedcountry" [value]="item.subCompany">{{item.subCompany}}</mat-option>
                 </mat-select> 
                 <label style="top: -5px;">Subsidiaries</label>

            </div>
        </div>
    
        <div class="clearfix"></div>
    
        <p class="col-md-12"><strong>Beneficiary Bank Details</strong></p>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">
    
                <select name='Country' formControlName="beneBankCountry">
                     <option [ngValue]="null" selected>Select</option>
                    <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                  
                </select>
                <label>Country of Beneficiary Bank</label>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="11"  formControlName="beneSwiftCode"  (keypress)="validateRegexFields($event, 'alphaNumericNoSpace')">
                <label>Swift Code</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv selectdiv">
    
                <input type="text" maxlength="50"  formControlName="beneBankName" (keydown)="validateRegexFields($event, 'alphaNspace')">
                <label>Bank Name</label>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="col-md-12"><strong>Applicant Details</strong>
        </p>
    
        <div class="col-md-3">
            <div class="inputDiv selectdiv">
    
                <select name='country' formControlName="applicantCountry">
                    <option [ngValue]="null" selected>Select</option>
                    <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                </select>
                <label>Country</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="50"  formControlName="applicantName">
                <label>Applicant's Name</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="50"  formControlName="applicantContactPerson" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Contact Person</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="inputDiv">
                <input type="text" maxlength="45" formControlName="applicantContactPersonEmail"  oninput="this.value = this.value.toLowerCase()" (keydown.space)="$event.preventDefault();" (keyup)="onKeyUpAppEmail($event)">
                <label>Contact Person's Email</label>
                <div *ngIf="isValidAppEmail" class="invalid-feedback">
                    Invalid Email id
                </div>
            </div>
        </div>
    </div>
    
</div>

