<div id="myModal" class="modal1" style="display: none;">
  <!-- <div class="modal-dialog modal-md emaildiv"> -->
  <!-- Modal content-->
  <div class="modal-content">
    <div class="col-md-12 arrow_box" style="border-bottom: 1px solid gray!important;margin-bottom: 20px;"><button type="button" class="close" (click)="close()" style="margin-top: px;margin-left:93%!important">&times;</button><h3 style="margin-top: 0px!important;padding-left: 29px;font-weight: 400!important;">Enter Access Details</h3></div>
    <div class="modal-body">
      <form [formGroup]="customerLoginForm" (ngSubmit)="onCustLoginClick()">
      <div class="row">
        <!--<p><strong>Enter Email ID here</strong></p> -->
        <div class="col-md-12">
          <div class="row">
            <!-- <div class="col-md-6">
              <div class="inputDiv">
                <input type="text" maxlength="10" formControlName="batch_id" (keypress)="validateRegexFields($event, 'alphaNum')" class="first_input">
                <label>Branch ID</label>
                <div *ngIf="submitted && custLogDetails.batch_id.errors?.required" class="invalid-feedback">
                  Branch Id is required
              </div>
              <div *ngIf="custLogDetails.batch_id.errors?.minlength" class="invalid-feedback">
                Enter 3 characters long Branch ID.
              </div>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="inputDiv">
                <input type="text" maxlength="10" formControlName="employee_id" class="first_input" (keypress)="validateRegexFields($event, 'alphaNum')">
                <label>Employee ID</label>
                <div *ngIf="submitted && custLogDetails.employee_id.errors?.required" class="invalid-feedback">
                  Employee ID is required
              </div>
              <div *ngIf="custLogDetails.employee_id.errors?.minlength" class="invalid-feedback">
                Enter 3 characters long employee_id.
              </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inputDiv">
                <input type="text" (keydown)="validateRegexFields($event, 'noSpace')" formControlName="email_id"  maxlength="45" oninput="this.value = this.value.toLowerCase()">
                <label>Email ID</label>
                <div *ngIf="submitted && custLogDetails.email_id.errors?.required" class="invalid-feedback">
                  Email is required
                </div>
                <div *ngIf="submitted && custLogDetails.email_id.touched && custLogDetails.email_id.errors?.pattern" class="invalid-feedback">
                  Invalid Email id
              </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inputDiv">
                <input type="text" maxlength="30" formControlName="employee_name" (keydown)="validateRegexFields($event, 'namewithspace')">
                <label>Name</label>
                <div *ngIf="submitted && custLogDetails.employee_name.errors?.required" class="invalid-feedback">                 
                    Name is required
                </div>
              <!-- <div *ngIf="custLogDetails.employee_name.errors?.minlength" class="invalid-feedback">
                Enter 2 characters long Name.
              </div> -->
              </div>
            </div>
          </div>
          <button class="btn btn-info pull-right" type="submit">Submit</button>
        </div>
        <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
      </div>    
    </form>
  </div>
  </div>
  <!-- </div> -->
</div>

<div id="myModal6" class="modal2" style="display: none;">
  <!-- <div class="modal-dialog modal-md emaildiv"> -->
  <!-- Modal content-->
  <div class="modal-content">   
    <div class="modal-header" id="success_msg" style="text-align: right!important">
        <button type="button" class="close" (click)="close()" id="close">&times;</button>
    </div>
    <div class="modal-body">
      <h2></h2>
      <div class="row">
        <!--<p><strong>Enter Email ID here</strong></p> -->
        <div class="col-md-12">
          <div class="text-center">
            <p><strong>Thank you for sharing access details!</strong></p>
            <p class="ptext">We have sent a 5-digit passcode to your registered email address <span class="cust_email">{{emailAddress}}</span> Check your
              spam folder just in case our email has skipped your inbox.</p> 
            <div class="form-group"></div>
            <div class="clearfix"></div>
          <div class="col-md-12 inputDiv captcha_div_mobile">   
            <re-captcha  (resolved)="resolved($event)" (click)="captchaValue()" [(ngModel)]="recaptchaReactive" siteKey="6Lda-jIaAAAAAMNrtvrHcHMCMAb7OvJK9ZfSXJ5s">
            </re-captcha> 
            <!-- for per prod-->
            <!-- <re-captcha  (resolved)="resolved($event)" (click)="captchaValue()" [(ngModel)]="recaptchaReactive" siteKey="6LdwBd8fAAAAADc6TG7Tli7BehqOHF38gBg6Lvxw">
            </re-captcha> -->
            <!-- end  -->
          <div class="invalid-feedback captchaErrMsg" >{{captchaErrMsg}}</div>
          </div> 
         
          <div class="clearfix"></div>
         <br> <br>
            <div class="col-md-4 col-md-offset-4" style="bottom: 16px;">
              <div class="inputDiv">
                <input type="text" style=" text-align: center;" [(ngModel)]="passValue" (click)="passCodeValue()" (keypress)="validateRegexFields($event, 'number')" maxlength="6">
                <label style="margin-left: 25%; font-weight: bold;left: 28px;">Enter Passcode</label>
                <div class="invalid-feedback">{{errMessage}}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <button class="btn btn-info pull-right" (click)="onOTPClick()">Submit</button>
        </div>
        <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>

<div id="myModal7" class="modal3" style="display: none;">
  <!-- <div class="modal-dialog modal-md emaildiv"> -->
  <!-- Modal content-->
  <div class="modal-content">
    <div class="col-md-12 arrow_box" style="border-bottom: 1px solid gray!important;margin-bottom: 20px;"><button type="button" class="close" (click)="close()" style="margin-top: 0px;margin-left:93%!important">&times;</button><h3 style="margin-top: 0px!important;padding-left: 29px;font-weight: 400!important;">Enter Access Details</h3></div>
    <div class="modal-body">
      <div class="row">
        <!--<p><strong>Enter Email ID here</strong></p> -->
        <div class="col-md-12">
          <div class="text-center">
            <p>Oops! We can't find association of entered email address with any account on
              {{tradeName}}. Kindly contact <a style="color: #074977;"
                href="mailto:{{tradeSupport}}" class="cust_email">{{tradeSupport}}</a> or
              re-enter the email id.</p>  

            <div class="form-group"></div>

            <div class="clearfix"></div>
          </div>
          <button type="submit" (click)="reenterCustLoginDetails()" class="btn btn-info pull-right renter_btn">Re-enter
            Details</button>
        </div>
        <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>



<!-- <app-loader></app-loader> -->

<div id="attemptFail" style="display: none;top: 20%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <!-- Modal content-->
     <div class="modal-content" style="width: 76%;">
        <div class="modal-body">
           <h2 style="padding-left: 51px;">Account is Temporarily Blocked  <button type="button" class="close" (click)="close()" style="  margin-left: -276px;
            margin-bottom: 0px;
            margin-top: -2px;
            color: #565151;">&times;</button></h2>
           <div class="padnew">
              <div class="row">
                 <!--<p><strong>Enter Email ID here</strong></p> -->
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                          <h5>{{attempts}}</h5>
                         
                       </div>
                    </div>
                    <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="attemptOk()">OK</button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

