 .invalid-feedback {
	display: block;
    position: absolute;
    top: 30px;
    right: 2px;
    color: #ff0330;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
}

  .popupcontent table {
    margin-left: 15px!important;
  }
  ::ng-deep .popupcontent .tab-pane .table tbody > tr > td{
    padding-right: 30px!important;
    padding-top: 8px!important;
  }
  ::ng-deep .popupcontent input:read-only{
    margin-left: 12px!important;
    float: left!important;
  } 
  ::ng-deep input[type=radio] {
    margin-right: 5px!important;
  }
  .tab{
    margin-left: 20px;
  }
  .popupcontent textarea {
    margin-left: 8px!important;
    margin-right: 29px;
    width: 260px!important; 
    height: 85px!important;
  }
  .popupcontent .percent{
    /* left: 223px!important; */
    right:30px!important;
    top: 8px!important;
  }

  .details{
    position: fixed;
     width: 450px; 
     transition: all 300ms ease 0s; 
height: 100%;
 top: 0px; 
 right: 0px;
  z-index:9999;
  }
.detailsPlaceQuote{
  position: fixed; 
  width: 520px;
   transition: all 300ms ease 0s; 
   height: 100%; top: 0px;
    right: 0px;
     z-index:1049;
}
  @media(max-width:767px){
  .popupcontent {
    background-color: #fff;
    height: 100%;
    padding-right: 6px !important;
}
  }

  @media(max-width:767px){
   td{
    padding-right: 20px;
  }
}
 