<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="error support">
          <div class="container-floud">
            <div class="text-center sessionpage">
              <img
                src="https://image.flaticon.com/icons/svg/901/901134.svg"
                width="130px"
              />
              <h4 class="support-heading">Looking For Any Assistance?</h4>
              <h2 class="support-subheading">
                We are available to help you 24*7
              </h2>
              <div class="col-md-8 col-md-offset-2">
                <table class="table">
                  <tr>
                    <td>
                      <img
                        src="https://image.flaticon.com/icons/svg/2971/2971416.svg"
                        width="40"
                      />
                      <strong>Call Us</strong>
                    </td>
                    <td>
                      <img
                        src="https://image.flaticon.com/icons/svg/893/893247.svg"
                        width="40"
                      />
                      <strong>Email {{tradeSupport}}</strong>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
