<div class="content">
    <div class="container-fluid">
        <div class="row">
           
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"> <span id="changetext"><b style="font-weight: 500 !important; "> Manage Additional Users</b></span>
                            <ul class="pull-right list-unstyled list-inline statusbar">   
                                <!-- <li><label>Additional Users Slots Available <span class="">{{available}}</span></label></li>
                                <li><label>Additional Users Slots Utilized <span>{{subuticount}}</span></label></li> -->
                                <li>
                                    <a class="btn btn-info pull-right" (click)="addSubsidiary()">+ Add Additional User</a>
                                </li>

                            </ul>
                        </h4>
                        <div class="row">
                            <div class="col-md-12" *ngIf="noData">
                                No Additional Users Data is available
                            </div>
                            <div class="col-md-12" *ngIf="!noData">
                                <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%">
                                    <table class="table table-hover" id="datatables">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 19px!important;" class="disabled-sorting text-center">#</th>
                                                <th style="min-width: 130px;">Date</th>
                                                <!-- <th style="min-width: 150px;">Additional Entity</th> -->
                                                <th style="min-width: 120px;">First Name</th>
                                                <th style="min-width: 120px;">Last Name</th>
                                                <th style="min-width: 210px;">Email</th>
                                                <th style="min-width: 100px;">Credits Used</th>
                                                <th style="min-width: 130px;width: 100px !important;">Quotes Placed</th>
                                                <th style="min-width: 100px;" nowrap class="disabled-sorting text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let list of userData; let i = index">
                                                <td>{{i+1}}</td>
                                                <td nowrap>{{list.insertedDate | date : "dd-MM-y"}}</td>
                                                <!-- <td>{{list.companyName}}</td> -->
                                                <td>{{list.firstName}}</td>
                                                <td>{{list.lastName}}</td>
                                                <td>{{list.emailAddress}}</td>
                                                <td>{{list.creditUsed}}</td>
                                                <td>{{list.quoteReceived}}</td>
                                                <td nowrap >{{list.accountStatus}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-right downloaddiv">
                                <ul class="list-unstyled list-inline">
                                  <li>Download</li>
                                  <!-- <li><a href="javascript:void()" class="pdf"><span class="fas fa-file-pdf"></span></a></li> -->
                                  <li><a href="javascript:void()" class="excel"><span class="fas fa-file-excel"></span></a></li>
                                </ul>
                              </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addsub" class="popupnew modal fade in" role="dialog" style="display:none;">
    <div class="modal-dialog emaildiv" style="margin-top: 45px !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <form [formGroup]="manageSubForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <h2>Add User
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </h2>
                    <div class="padnew">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="authemaildiv">
                                    <p><strong>Enter details of an Authorized user</strong></p>
                                    <div class="form-group"></div>
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="firstName" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>First Name</label>
                                            <div *ngIf="submitted && manageSubDetails.firstName.errors?.required" class="invalid-feedback">
                                                First Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="lastName" (keydown)="validateRegexFields($event, 'name_validation')">
                                            <label>Last Name</label>
                                            <div *ngIf="submitted && manageSubDetails.lastName.errors?.required" class="invalid-feedback">
                                                Last Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="emailId" oninput="this.value = this.value.toLowerCase()">
                                            <label>Your Email ID</label>
                                            <div *ngIf="submitted && manageSubDetails.emailId.errors?.required" class="invalid-feedback">
                                                Email is required
                                            </div>
                                            <div *ngIf="manageSubDetails.emailId.touched && manageSubDetails.emailId.errors?.pattern" class="invalid-feedback">
                                                Invalid Email id
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv selectdiv ">
                                            <select formControlName="country" class="countryddl" (ngModelChange)="showCountryCode($event)">
                                                <option value=''>Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data'>{{data.country}}</option>                         
                                            </select>
                                            <label>Select Country</label>
                                            <div *ngIf="submitted && manageSubDetails.country.errors" class="invalid-feedback">
                                                <div *ngIf="manageSubDetails.country.errors.required">
                                                    Country field is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv divmob">
                                            <div class="countrycode" *ngIf="hasCountrycode;else other_content">+{{countryCode}}</div>
                                            <ng-template #other_content></ng-template>
                                            <input type="text" formControlName="mobileNo" maxlength="12" [ngClass]="hasCountrycode ? 'has-value' : ''" (keypress)="validateRegexFields($event,'number')">
                                            <label>Mobile No.</label>
                                          
                                            <div *ngIf="manageSubDetails.mobileNo.touched && manageSubDetails.mobileNo.errors?.minlength" class="invalid-feedback">
                                                Mobile Number is atleast of 7 digits.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="landlineNo" maxlength="12" (keypress)="validateRegexFields($event,'number')">
                                            <label>Landline No.</label>
                                            <div *ngIf="submitted && manageSubDetails.landlineNo.errors?.required" class="invalid-feedback">
                                                landline No is required
                                            </div>
                                            <div *ngIf="manageSubDetails.landlineNo.errors?.minlength" class="invalid-feedback">
                                                Landline No. is atleast of 7 digits.
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="col-md-4">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="minLCValue" (keypress)="validateRegexFields($event, 'number')">
                                            <label>Minimum Value of LC</label>
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="inputDiv" >
                                            <select formControlName="regCurrency" >
                                                <!-- [disabled]= ccyDisable -->
                                                <option  *ngFor="let data of currencies" [ngValue]='data'>{{data}}</option>                         
                                            </select>
                                            
                                            <label>Ccy </label>
                                            <div *ngIf="submitted && manageSubDetails.regCurrency.errors" class="invalid-feedback">
                                                <div *ngIf="manageSubDetails.regCurrency.errors.required">
                                                    Currency&nbsp;is&nbsp;required
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && manageSubDetails.minLCValue.errors" class="invalid-feedback">
                                                <div *ngIf="manageSubDetails.minLCValue.errors.required">
                                                   Min LC Value is required.
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv multiselect-dropdown">
                                            <ng-multiselect-dropdown-angular7 [data]="resp" formControlName="countriesInt" [settings]="dropdownSetting" (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown-angular7>
                                            <label class="dropdownlabel">Countries Interested</label>
                                            <div style="top: 33px;" *ngIf="submitted && manageSubDetails.countriesInt.errors?.required" class="invalid-feedback">
                                                Select Countries Interested
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="top: 7px;">
                                        <div class="inputDiv multiselect-dropdown">
                                            <ng-multiselect-dropdown-angular7  [data]="goodsArray" [(ngModel)]="BGselected" [disabled]="disabledNone" formControlName="blacklistedGC"
                                              [settings]="dropdownSettingGoods" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown-angular7>
                                            <label class="dropdownlabel">Blacklisted Goods/Commodities</label>
                                            <div style="top: 36px;" *ngIf="submitted && manageSubDetails.blacklistedGC.errors?.required" class="invalid-feedback">
                                                Select Blacklisted Goods
                                            </div>
                                           
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6">
                                        <div class="inputDiv multiselect-dropdown">
                                            <ng-multiselect-dropdown-angular7 [data]="resp" formControlName="beneInterestedCountry"
                                             [settings]="dropdownSetting" (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown-angular7>
                                            <label class="dropdownlabel">Beneficiary Countries Interested</label>
                                            <div style="top: 33px;" *ngIf="submitted && manageSubDetails.beneInterestedCountry.errors?.required" class="invalid-feedback">
                                                Select Beneficiary Countries Interested
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-12 col-sm-12 bankfields" *ngIf="isBank" style="top: 7px; width: 34% !important;">
                                        <div class="inputDiv multiselect-dropdown ">
                                           <ng-multiselect-dropdown-angular7 [data]="resp" formControlName="beneInterestedCountry" [settings]="dropdownSetting" 
                                           (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" ></ng-multiselect-dropdown-angular7>
                                           <label class="dropdownlabel">Beneficiary Countries Interested</label>
                                           <div *ngIf="submittedSignup && suf.beneInterestedCountry.errors" class="invalid-feedback">
                                               <div *ngIf="submittedSignup && suf.beneInterestedCountry.errors?.required">
                                                   Select Beneficiary Countries Interested
                                               </div>
                                           </div>
                                           <img src="assets/images/countries.png" class="blackListedGoodsList_img"/>
                                       </div>
                                     </div> -->


                                    <div class="col-md-6"  *ngIf=" isOptionNone">
                                        <button type="button" class="closeNone closeBtn"     
                                         (click)="closeNone()">&times;</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6 bankfields" *ngIf=" isBankOther">
                                        <div class="inputDiv">
                                           <input type="text" maxlength="30" formControlName="otherTypeBank">
                                           <label>Other</label>
                                        </div>
                                     </div>
                                </div>

                                <p id="paradiv">
                                    {{respMessage}}
                                </p>
                                <div class="clearfix"></div>
                                <br><br>
                                <button type="submit" id="btninvite" class="btn btn-info pull-right">Invite User</button>
                                <a (click)="onOkClick()" id="okbtn" class="btn btn-info pull-right">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="txnPendingAdd" style="display: none;top: 0%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
    <div class="modal-dialog modal-md emaildiv" style="top: 120px;">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-body">
             <h2>Transaction Pending </h2>
             <div class="padnew">
                <div class="row">
                   <!--<p><strong>Enter Email ID here</strong></p> -->
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-12">
                            <p>{{trnxPendingMsg}}</p>
                           
                         </div>
                      </div>
                      <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="pendingOkBtn()">OK</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>