<div class="loginbody">
    <div class="logo">       
        &nbsp; &nbsp;&nbsp; <img style="position:relative;backdrop-filter: blur(8px);" src="assets/images/360TF-3.jpg" width="150" height="54"/>
    </div>
    <div class="content-a">
        <div class="content-b">
            <div class="container-fluid">
                <div class="">
                    <div class="col-md-4 col-md-offset-4 maindiv right-panel-active" id="container">
                        <div class="form-container sign-up-container">
                            <form [formGroup]="resetForm" (ngSubmit)="submit()" style="padding: 80px 30px;">
                                <div class="content-a">
                                    <div class="content-b">
                                        <div class="col-md-12">
                                            <h1>Set Password</h1>
                                            <span style="padding-bottom: 40px;"></span>
                                            <div class="inputDiv">
                                                <input [type]="isTextFieldType ? 'text' : 'password'" maxlength="20" formControlName="newPassword" (keydown)="validateRegexFields($event, 'noSpace')"
                                                 [ngClass]="{ 'is-invalid': submitted && resetFormDetails.newPassword.errors }">
                                                <label>Enter Password</label>
                                                <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                                <i (click)="togglePasswordFieldType()" [ngClass]="isTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                                <div *ngIf="submitted && resetFormDetails.newPassword.errors" class="invalid-feedback">
                                                    <div *ngIf="resetFormDetails.newPassword.errors.required">Password field is required</div>
                                                </div>
                                                <div *ngIf="resetFormDetails.newPassword.errors?.minlength" class="invalid-feedback">
                                                    Enter 6 characters long password.
                                                </div>
                                            </div>
                                            <div class="inputDiv">
                                                <input [type]="isreTextFieldType ? 'text' : 'password'" maxlength="20" formControlName="retypePaasword" (keydown)="validateRegexFields($event, 'noSpace')"
                                                [ngClass]="{ 'is-invalid': submitted && resetFormDetails.retypePaasword.errors }">
                                                <label>Re-enter Password</label>
                                                <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                                <i (click)="togglerePasswordFieldType()" [ngClass]="isreTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                                <div *ngIf="submitted && resetFormDetails.retypePaasword.errors" class="invalid-feedback">
                                                    <div *ngIf="resetFormDetails.retypePaasword.errors.required">Password field is required</div>
                                                </div>
                                                <div *ngIf="resetFormDetails.retypePaasword.errors?.minlength" class="invalid-feedback">
                                                    Enter 6 characters long password.
                                                </div>
                                                <div *ngIf="resetFormDetails.retypePaasword.touched && resetFormDetails.retypePaasword.errors?.mustMatch" class="invalid-feedback">
                                                    Re-enter Password is not matching with New Password
                                                </div>
                                            </div>
<br>
<br>
                                            
                                             <!-- <div *ngIf='isParent' class="checkbox" style="margin-top:-5px!important;right: 85px;"> -->
                                                <div *ngIf='isParent'  class="checkbox" style="margin-top:-5px!important;">
                                                <label><!--Rahul Changes-->
                                                   <input type="checkbox" id="isCheckedForTerms" (change)="acceptTerms()" formControlName="termsAndcondition">                    I agree to
                                                </label>
                                                <a (click)="openTermAndServiceDialog('1')" class='terms_condition'> Terms & Conditions 
                                                </a> <span class='andspan'> and</span>
                                                 <a (click)="openTermAndServiceDialog('2')" class='andPrivacy' style="cursor: pointer;"> Privacy Policy</a>
                              <!-- <a  data-toggle="modal"  data-target="#resetId" class='terms_condition'> terms of service and privacy policy</a> -->
                                                <div id="checkboxError" style="color:#ff0330;font-size: 11px;font-weight: 400;display: none;">
                                                   Kindly accept terms of service and privacy policy
                                                </div>
                                             </div>

                                            <div class="form-group" style="padding-bottom: 25px;"></div>
                                            <button type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-container sign-in-container">
                        </div>
                        <div class="overlay-container">
                            <div class="overlay">
                                <div class="overlay-panel overlay-left">
                                    <i class="fas fa-key" style="font-size: 23px;margin: 0 0 20px;"></i>
                                    <h1>Reset Password</h1>
                                    <p>To keep connected with us please login with your personal info</p>
                                </div>
                                <div class="overlay-panel overlay-right">
                                    <h1>Hello, Friend!</h1>
                                    <p>Enter your personal details and start journey with us</p>
                                    <button class="ghost" id="signUp">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="resetId"  style="display: none;" class="popupnew modal fade" role="dialog">
    <div class="modal-dialog modal-md emaildiv">
        <!-- Modal content-->
        <div class="modal-content" style="margin-top: -66px;">
            <div class="modal-body">
                <h2>Terms and Conditions  <button type="button" class="close-image" (click)="close()">
                    &times;
                  </button></h2>
               
                <div class="padnew">
                    <!--<p><strong>Enter Email ID here</strong></p> -->
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 style="font-size: 24px;">Coming Soon!!!!!</h1>
                                <div class="form-group">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="scriptletTerms" id="privacyPolicyIds" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <!-- Modal content-->
     <div class="modal-content" >
      <h2><strong>PRIVACY POLICY</strong><button type="button" class="close" 
        (click)="closes()" style=" margin-left: 697px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                        <div  [innerHTML]="scriptlet"></div>                         
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>



<div  *ngIf="scriptlet" id="termsConditionIds" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <div class="modal-content" >
        <h2><strong>TERMS AND CONDITIONS </strong><button type="button" class="close" 
        (click)="closes()" style=" margin-left: 624px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">   
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                      <div  [innerHTML]="scriptletTerms"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>


<app-term-and-conditions></app-term-and-conditions>
<router-outlet></router-outlet>