<div class="content" *ngIf="isCustomer">
      <div class="container-fluid">
         <div class="">
            <div class="col-md-12 form-group">
               <div class="row">
                  <div class="col-md-12">
                     <div class="">
                        <div class="dashsidediv dashbottom">
                           <div class="row">
                              <div class="revenuediv borderzero text-right" >
                                 <div class="col-md-4 col-sm-4" *ngFor="let count of custmrdasbrdcount">
                                    <h3><span *ngIf="count.count">{{count.count}} </span>
                                       <span *ngIf="!count.count"> 0 </span>
                 
                                       <br>
                                       <small *ngIf="count.detail=='ActiveTransaction' || count.detail=='QuotesAwaited'">Transactions</small>
                                       <small *ngIf="count.detail=='QuoteActiveTransaction'">Quotes</small>
                                    </h3>
                                    <h5 *ngIf="count.detail=='ActiveTransaction'">Active Transaction </h5>
                                    <h5 *ngIf="count.detail=='QuoteActiveTransaction'">Quote/Active Transaction</h5>
                                    <h5 *ngIf="count.detail=='QuotesAwaited'">Quotes Awaited</h5>
                                    <i class="fas fa-exchange-alt"  *ngIf="count.detail=='ActiveTransaction'"></i>
                                    <i class="fas fa-comment-dots"  *ngIf="count.detail=='QuoteActiveTransaction'"></i>
                                    <i class="fas fa-hourglass-half"  *ngIf="count.detail=='QuotesAwaited'"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div  #pieChart style="width: 100vw; height: 100vh;"></div> -->
            <div class="col-md-6 form-group" >
               <div class="row">
                  <div class="col-md-12" *ngIf="noDataPieChartCountry">
                     <b> No Data available.</b>
                  </div>
                  <div class="col-md-12 col-sm-12 col-lg-12" *ngIf="!noDataPieChartCountry">
                     <div class="dashsidediv">
                        <h2>
                           Country-wise Product Transactions 
                        </h2>
                        <div class="clearfix"></div>
                        <div class="row graphsideinner">
                           <div  id="pieChart" style="height: 280px;width: 400px;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 form-group" >
               <div class="row">
                  <!-- <div class="col-md-12" *ngIf="noDataPieChartGoods">
                     <b> No Data available.1</b>
                  </div> -->
                  <!-- <div class="col-md-12" *ngIf="noDataPieChartGoods"> -->

                  <div class="col-md-12" >
                     <div class="dashsidediv">
                        <h2>
                           Product-wise Transactions
                        </h2>
                        <div class="clearfix"></div>
                        <div class="row graphsideinner">
                           <div id="pieChart1" style="height: 280px;width: 400px;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-md-12">
               <div class="row">
                  <div class="col-lg-8 col-sm-8 col-md-8" >
                     <div class="dashsidediv">
                        <h2>
                           Cumulative Trxn Amount vs Trxn Count  
                           <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                              <li>
                                 <div class="textfield">
                                    <select (change)='onOptionsSelected($event)'>
                                       <option value="">Select Year</option>
                                       <option *ngFor="let data of minFiveYears" [ngValue]='data'>{{data}}</option>
                                     </select>
                                 </div>
                              </li>
                           </ul>
                        </h2>
                        <div class="clearfix"></div>
                        <div class="graphsideinner row">
                           <div class="col-lg-8 col-sm-8 col-md-8">
                              <div id="bar_chart" style="height: 250px;border:0;width: 480px;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                     <div class="dashsidediv">
                        <h2>
                           Lifetime Savings (USD)                
<!--                        
                           <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                              <li>
                                 <div class="textfield">
                                    <select (change)='onOCurrency($event)'>
                                       <option value="">Select</option>
                                       <option *ngFor="let data of currencies" [ngValue]='data'>{{data}}</option>
                                     </select>
                                 </div>
                              </li>
                           </ul> -->
                              </h2>
                        <div class="graphsideinner row">
                           <div class="bignumber">
                              <div class="content-a">
                                 <div class="content-b">
                                    <h4>{{currencyData}} {{lifetimeSavings/1000000}}</h4>
                                    <p>
                                       Saved Till Date
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
           
    
            <div class="clearfix"></div>
            <br>
            <div class="col-md-12" >
               <div class="row">
                  <div class="col-md-12" >
                     <div class="dashsidediv">
                        <h2 class="maindashh">
                           Transaction Bifurcation 
                           <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                              <li>From</li>
                              <li>
                                 <!-- <input type="text" class="datepicker" placeholder="Start Date">  -->
                                 <mat-form-field>
                                    <mat-label>Start Date</mat-label>
                                    <input autocomplete="off" matInput  [matDatepicker]="startDate" (dateChange)="changeStartDate($event)" (keydown)="validateRegexFields($event, 'date_validation')">
                                    <mat-datepicker-toggle matSuffix [for]="startDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #startDate>
                                    </mat-datepicker>
                                 </mat-form-field>
                              </li>
                              <li>to</li>
                              <li>
                                 <!-- <input type="text" class="datepicker" placeholder="Start Date">  -->
                                 <mat-form-field>
                                    <mat-label>End Date</mat-label>
                                    <input autocomplete="off" matInput  [matDatepicker]="endDate" (dateChange)="changeEndDate($event)" (keydown)="validateRegexFields($event, 'date_validation')">
                                    <mat-datepicker-toggle matSuffix [for]="endDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #endDate>
                                    </mat-datepicker>
                                 </mat-form-field>
                              </li>
                           </ul>
                        </h2>
                        <div class="row borderzero" style="border-left: 0px!important;">
                           <div class="col-md-3 col-sm-3" *ngFor="let transactionbifurcation of transactionbifurcation">
                              <div class="maindash">
                                 <span >{{transactionbifurcation.count}}</span>
                                 <h3  *ngIf="transactionbifurcation.detail=='accepted'">Accepted Transactions</h3>
                                 <h3   *ngIf="transactionbifurcation.detail=='rejected'">Rejected Transactions</h3>
                                 <h3   *ngIf="transactionbifurcation.detail=='expired'">Expired Transactions</h3>
                                 <h3   *ngIf="transactionbifurcation.detail=='Bank'">Banks </h3>
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M288 426.681c-4.693 0-8.853-3.093-10.219-7.595l-56.277-187.563-51.968 103.957c-1.707 3.392-5.077 5.653-8.875 5.867-3.989.32-7.424-1.557-9.536-4.736l-39.509-59.264H10.667C4.779 277.348 0 272.569 0 266.681s4.779-10.667 10.667-10.667h106.667a10.64 10.64 0 018.875 4.757l32.469 48.704 55.787-111.552c1.941-3.904 6.016-6.421 10.453-5.845a10.687 10.687 0 019.301 7.552l51.712 172.373 55.616-278.08c1.024-5.141 5.653-8.981 10.901-8.576a10.701 10.701 0 0110.155 9.472l19.648 176.789 28.971-14.485a10.978 10.978 0 014.779-1.109h85.333c5.888 0 10.667 4.779 10.667 10.667s-4.779 10.667-10.667 10.667h-82.816l-40.427 20.203c-3.115 1.557-6.763 1.472-9.877-.171-3.072-1.664-5.099-4.736-5.504-8.192l-13.76-123.733-50.496 252.651a10.613 10.613 0 01-9.963 8.555c-.15.02-.32.02-.491.02z"/>
                                 </svg>
                                 <!-- <table class="table">
                                    <tr>
                                       <td>
                                          <img src="https://image.flaticon.com/icons/svg/876/876000.svg" width="50">
                                       </td>
                                       <td>
                                          <h5>{{transactionbifurcation.count}}</h5>
                                          <h3  *ngIf="transactionbifurcation.detail=='accepted'"><small>Accepted Transactions</small></h3>
                                          <h3  *ngIf="transactionbifurcation.detail=='rejected'"><small>Rejected <br>Transactions</small></h3>
                                          <h3  *ngIf="transactionbifurcation.detail=='expired'">Expired<br> Transactions</h3>
                                          <h3 *ngIf="transactionbifurcation.detail=='Bank'">Banks <br><small style="visibility: hidden;">dd</small></h3>
                                       </td>
                                    </tr>
                                 </table> -->
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
            <div class="col-md-12" >
               <div class="row">
                  <div class="col-md-12">
                     <div class="dashsidediv tablediv">
                        <h2>Last Accepted Transactions <br>
                           <small>(This Dashboard is a summary of all the accepted transactions, wherein default status is kept as Open. In case the requirement has got fulfilled we request you update the status to closed)</small>
                        </h2>
                        <div class="row">
                           <div class="col-md-12" *ngIf="noData">
                             <b> Last Accepted Transactions Data is not available</b>
                           </div>
                           <div class="table-responsive" *ngIf="!noData">
                              <table class="table table-bordered">
                                 <tr>
                                    <th>Date</th>
                                    <th>Trxn ID</th>
                                    <th>Requirement</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>Ccy</th>
                                    <th>Trxn Status</th>
                                 </tr>
                                 <tr *ngFor="let latestacceptedtrxn of latestacceptedtrxn">
                                    <td>{{latestacceptedtrxn.date | date : 'dd-MM-y'}}</td>
                                    <td>{{latestacceptedtrxn.transactionId}}</td>
                                    <!-- <td>{{latestacceptedtrxn.requirement}}</td> -->
                                    <td>
                                       <div *ngIf="latestacceptedtrxn.requirement=='Banker' || latestacceptedtrxn.requirement=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                       <div *ngIf="latestacceptedtrxn.requirement=='ConfirmAndDiscount' || latestacceptedtrxn.requirement=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                       <div *ngIf="latestacceptedtrxn.requirement=='Refinance' || latestacceptedtrxn.requirement=='Refinancing'">Refinancing </div>
                                       <div *ngIf="latestacceptedtrxn.requirement=='Discounting'">Discounting</div>
                                       <div *ngIf="latestacceptedtrxn.requirement=='Confirmation'">Confirmation</div>
                                       <div *ngIf="latestacceptedtrxn.requirement=='BillAvalisation'">Avalisation</div>

                                    </td>
                                    <td>{{latestacceptedtrxn.country}}</td>
                                    <td>{{latestacceptedtrxn.amount}}</td>
                                    <td>{{latestacceptedtrxn.currency}}</td>
                                    <td [hidden]="!(latestacceptedtrxn.transactionStatus=='Accepted')" >
                                          <select id="{{'closedTrans'+latestacceptedtrxn.transactionId}}" *ngIf="latestacceptedtrxn.transactionStatus != 'Closed'"  
                                           (change)="onCloseTransactionPopup(latestacceptedtrxn,$event.target.value)">                                           
                                              <option value="Open">Open</option>
                                              <option value="Close">Close</option>
                                          </select>
                                          <span *ngIf="latestacceptedtrxn.transactionStatus == 'Closed'">Closed</span>
                                      </td>
                                 </tr>
                              </table>
                              <table class="table marzero" *ngIf="!isCustomer">
                                 <tr>
                                    <th>Date</th>
                                    <th>Trxn ID</th>
                                    <th>Requirement</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>Ccy</th>
                                    <!-- <th><a href="#" data-toggle="modal" data-target="#addsub"> Trxn Status</a></th> -->
                                 </tr>
                                 <tr>
                                    <td colspan="3"> NO DATA FOUND!!!!</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="content" *ngIf="isBank">
      <div class="container-fluid">
         <div class="">
            <!-- <div class="dashsidediv dashbottom" style="margin-left: 18px;margin-right: 18px;">
               <div class="row">
            <div class="textfield" style="padding-left: 19px;border-radius: 4px;">
               <label style="font-size: 14px; font-weight: 500; color: #00bcd4;">Additional user</label>
               <br>
               <select (change)='selectSubsidiaries($event.target.value)' style="width: 200px!important;border-radius: 4%;">
                     
                     <option *ngFor="let data of subsidiaries" [value]="data.subUserId" >{{data.emailId}}</option>                               
               </select>
            </div>
            </div>
            </div> -->
            <div class="col-md-12 form-group">
               <div class="row">
                  <div class="col-md-12">
                     <div class="">
                        <div class="dashsidediv dashbottom">
                           <div class="row">
                              <div class="revenuediv borderzero text-right" >
                                 <div class="col-md-6 col-sm-3 col-lg-3" *ngFor="let count of bankdashbrdcount">
                                    <h5 *ngIf="count.detail=='NewRequest'">New Request</h5>
                                    <h5 *ngIf="count.detail=='QuoteAcceptanceAwaited'">Quote Acceptance Awaited</h5>
                                    <h5 *ngIf="count.detail=='QuoteLost'">Quote Lost</h5>
                                    <h5 *ngIf="count.detail=='TransactionClosed'">Transaction Closed</h5>
                                    <h3>{{count.count}} <br>
                                       <small *ngIf="count.detail=='NewRequest' || count.detail=='TransactionClosed'">Transactions</small>
                                       <small *ngIf="count.detail=='QuoteAcceptanceAwaited' || count.detail=='QuoteLost'">Quotes</small>
                                    </h3>
                                    <i class="fas fa-exchange-alt"  *ngIf="count.detail=='NewRequest'"></i>
                                    <i class="fas fa-comment-dots"  *ngIf="count.detail=='QuoteLost'"></i>
                                    <i class="fas fa-hourglass-half"  *ngIf="count.detail=='TransactionClosed' || count.detail=='QuoteAcceptanceAwaited'"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div  #pieChart style="width: 100vw; height: 100vh;"></div> -->
            <div class="clearfix"></div>
            <div class="col-md-12" >
               <div class="row">                 
                  <div class="col-md-12 col-sm-12 col-lg-12" >
                     <div class="dashsidediv">
                        <h2>
                           Country-wise Transaction stats 
                           <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                                 <li>
                                    <div class="textfield">
                                       <select (change)='onProductSelected($event)' style="width: 200px!important;">
                                          <option value="">Product Requirement</option>
                                          <option value="Confirmation">Confirmation</option>
                                          <option value="Discounting">Discounting</option>
                                          <option value="ConfirmAndDiscount">Confirmation and Discounting</option>
                                          <option value="Refinance">Refianancing</option>
                                          <option value="Banker">Banker's Acceptance</option>
                                       </select>
                                    </div>
                                 </li>
                              
                                 <li>
                                    <div class="textfield">
                                       <!-- <select (change)='onCountrySelected($event)' style="width: 200px!important;">
                                       <option value="">Select</option>
                                       <option *ngFor="let data of country" [ngValue]="data">
                                         {{ data.countryName }}
                                       </option>
                                       </select> -->
                                        <select (change)='onCountrySelected($event)' style="width: 200px!important;">
                                       <option value="">Select a Country</option>
                                       <option *ngFor="let data of countryArray" [ngValue]="data">
                                         {{ data}}
                                       </option>
                                       </select>
                                    </div>
                                 </li>
                              </ul>
                        </h2>
                        <div class="clearfix"></div>
                        <div class="graphsideinner row">
                           <div class="col-md-12" *ngIf="noDataBarChart">
                                 <div style="height: 110px;border: 0;padding: 15px;"> <b> Country-wise Transaction stats Data is not available</b></div>
                           </div>
                           <div class="col-md-12 col-sm-12 col-lg-12" *ngIf="!noDataBarChart">
                              <div id="bar_chart_country" style="height: 260px;border:0;width: 550px;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-md-12" >
               <div class="row">
                  <div class="col-md-12">
                     <div class="dashsidediv tablediv">
                        <h2>Latest Accepted Transactions <br>
                           <small>(This Dashboard is a summary of all the accepted transactions, wherein default status is kept as Open. In case the requirement has got fulfilled we request you update the status to closed)</small>
                        </h2>
                       
                        <div class="row">
                           <div class="col-md-12" *ngIf="noData" style="height: 70px;padding: 15px;">
                              <b> No Data available.</b>
                           </div>
                           <div class="table-responsive" *ngIf="!noData">
                              <table class="table marzero">
                                 <tr>
                                    <th>Date</th>
                                    <th>Trxn ID</th>
                                    <th>Requirement</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>Ccy</th>
                                    <th>Trxn Status</th>
                                 </tr>
                                 <tr *ngFor="let banklatestaccepttrxn of banklatestaccepttrxn">
                                    <td>{{banklatestaccepttrxn.date | date : 'dd-MM-y'}}</td>
                                    <td>{{banklatestaccepttrxn.trxn_id}}</td>
                                    <!-- <td>{{banklatestaccepttrxn.requirement}}</td> -->
                                    <td>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='Banker' || banklatestaccepttrxn.requirement=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='ConfirmAndDiscount' || banklatestaccepttrxn.requirement=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='Refinance' || banklatestaccepttrxn.requirement=='Refinancing'">Refinancing </div>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='Discounting'">Discounting</div>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='Confirmation'">Confirmation</div>
                                       <div *ngIf="banklatestaccepttrxn.requirement=='BillAvalisation'">Avalisation</div>

                                    </td>
                                    <td>{{banklatestaccepttrxn.country}}</td>
                                    <td>{{banklatestaccepttrxn.amount}}</td>
                                    <td>{{banklatestaccepttrxn.ccy}}</td>
                                    <td [hidden]="!(banklatestaccepttrxn.trxn_status=='Accepted')" >
                                       <select id="{{'closedTrans'+banklatestaccepttrxn.trxn_id}}" *ngIf="banklatestaccepttrxn.trxn_status != 'Closed'"  
                                          (change)="onCloseTransactionPopup(banklatestaccepttrxn,$event.target.value)">                                           
                                              <option value="Open">Open</option>
                                              <option value="Close">Close</option>
                                       </select>
                                       <span *ngIf="banklatestaccepttrxn.trxn_status == 'Closed'">Closed</span>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="content" *ngIf="isReferrer">
      <div class="container-fluid">
         <div class="">      
            <div class="col-lg-3 col-md-3 col-sm-3"  *ngFor="let count of referrerdashbrdcount"> 
                  <div class="maindash">
                     <span>{{count.count}}</span>
                     <h3 *ngIf="count.detail=='ToatalReferences'" >Total References</h3>
                     <h3 *ngIf="count.detail=='ApprovedReferences'" >Approved References</h3>
                     <h3 *ngIf="count.detail=='RejectedReferences'" >Rejected References</h3>
                       <!-- <h3 *ngIf="count.detail=='RejectedReferences'" >Rejected References</h3> -->

                     <h3 *ngIf="count.detail=='PendingReferences'"  >Pending References</h3>
                     <h3 *ngIf="count.detail=='QuotesWon'"  >Quotes Won</h3>
                     <h3 *ngIf="count.detail=='Renewalsin30Days'" class="text">Renewals in <br>30 Days</h3>
                     <!-- <h3 *ngIf="count.detail=='FieoLeads'" class="text">Total FIEO Leads</h3> -->
                     <h3 *ngIf="count.detail=='SignUpFieoMembers'" class="text"> Sign Up Members</h3>
                     <i class="fas fa-users" *ngIf="count.detail=='ToatalReferences'"></i>
                     <i class="fas fa-user-check" *ngIf="count.detail=='ApprovedReferences'" ></i>
                     <i class="fas fa-users-slash" *ngIf="count.detail=='RejectedReferences'"></i>
                     <i class="fas fa-user-clock" *ngIf="count.detail=='PendingReferences'" ></i>
                     <i class="fas fa-comments-dollar" *ngIf="count.detail=='QuotesWon'" ></i>
                     <i class="fas fa-user-tag" *ngIf="count.detail=='Renewalsin30Days'"></i>
                     <!-- <i class="fas fa-user-tag" *ngIf="count.detail=='FieoLeads'"></i> -->
                     <i class="fas fa-user-tag" *ngIf="count.detail=='SignUpFieoMembers'"></i>
                  </div>                
                  <!-- <div class="graphsideinner_1 row" >
                     <div class="bignumber">
                        <div class="content-a">
                           <div class="content-b">
                                 <h6 *ngIf="count.detail=='ToatalReferences'"  style="text-align: center!important;margin-top: -40px!important;">Toatal References</h6>
                                 <h6 *ngIf="count.detail=='ApprovedReferences'"   style="text-align: center!important;margin-top: -40px!important;">Approved References</h6>
                                 <h6 *ngIf="count.detail=='PendingReferences'"   style="text-align: center!important;margin-top: -40px!important;">Pending References</h6>
                                 <h6 *ngIf="count.detail=='RejectedReferences'"   style="text-align: center!important;margin-top: -40px!important;">Rejected References</h6>
                                 <h6 *ngIf="count.detail=='QuotesWon'"   style="text-align: center!important;margin-top: -40px!important;">Quotes Won</h6>
                                 <h6 *ngIf="count.detail=='Renewalsin30Days'"  style="text-align: center!important;margin-top: -40px!important;">Renewals in 30 Days</h6>
                              <h4>{{count.count}}</h4>                           
                           </div>
                        </div>
                     </div>
                  </div> -->
            </div>
           
            <div class="clearfix"></div>
            <!-- <div  #pieChart style="width: 100vw; height: 100vh;"></div> -->
            <br>
            <div class="col-md-8" >
               <div class="dashsidediv" style="height: 320px!important;">
                  <h2>
                     Cumulative Trxn Amount vs Trxn Count  
                     <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                        <li>
                           <div class="textfield">
                             
                              <select (change)='onYearSelected($event)'>
                                 <option value="">Select Year</option>
                                 <option *ngFor="let data of minFiveYears" [ngValue]='data'>{{data}}</option>
                               </select>
                           </div>
                        </li>
                     </ul>
                  </h2>
                  <div class="clearfix"></div>
                  <div class="graphsideinner row">
                     <div class="col-md-12">
                        <div id="bar_chart" style="height: 250px;border:0;"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div *ngIf="isRxil" class="col-lg-4 col-md-4 col-sm-4">
                  <div class="dashsidediv" style="height: 320px!important;">
                     <h2>
                        Earning 
                        <ul class="list-unstyled list-inline pull-right" style="margin-top: -3px;">
                           <li>
                              <div class="textfield">
                                 <!-- <select (change)='onYearSelected_1($event)'>
                                    <option value="">Select Year</option>
                                    <option value="This_Year">This Quarter</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                 </select> -->
                                 <select (change)='onYearSelected_1($event)'>
                                    <option value="">Select Year</option>
                                    <option *ngFor="let data of minFiveYears" [ngValue]='data'>{{data}}</option>

                                 </select>
                              </div>
                           </li>
                        </ul>
                     </h2>
                     <div class="graphsideinner row">
                        <div class="bignumber">
                           <div class="content-a">
                              <div class="content-b">
                                 <h4 *ngIf="referrerEarning" style="margin-bottom: 142px!important;">USD {{referrerEarning}}</h4>
                                 <h4 *ngIf="!referrerEarning" style="margin-bottom: 142px!important;">USD 0</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <div id="addsub" class="popupnew modal fade in" role="dialog">
      <div class="modal-dialog emaildiv">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-body">
               <h2>Transaction Closed</h2>
               <div class="padnew">
                  <div class="row">
                     <div class="col-md-12">
                        <div id="authemaildiv">
                           <p>By clicking the Closed button you ensure that the transaction has been closed with the bank.</p>
                           <div class="form-group"></div>
                           <div class="col-md-12">
                              <div class="row">
                                 <div class="inputDiv">
                                    <textarea rows="4"></textarea>
                                    <label>Remarks (Optional)</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <a href="#"  data-dismiss="modal" class="btn btn-info pull-right" >Ok</a> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="closePopup" style="display: none;top: 20%;z-index: 9999;opacity: 1;" class="popupnew modal fade" role="dialog">
         <div class="modal-dialog modal-md emaildiv">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body">
                  <h2>Transaction Closed</h2>
                  <div class="padnew">
                     <div class="row">
                        <!--<p><strong>Enter Email ID here</strong></p> -->
                        <div class="col-md-12">
                           <div class="row">
                              <div class="col-md-12">
                                 <p>By clicking the Closed button you ensure that the transaction has been closed with the customer</p>
                                 <label>Remarks (Optional)</label>
                                 <div class="inputDiv">
                                    <textarea rows="2" id="closeReason"></textarea>
                                 </div>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-info pull-right" (click)="onClosePopDismiss()">Cancel</button>
                           <button type="submit" class="btn btn-info pull-right" (click)="closedTransaction()">OK</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
       </div>
       
  <div id="closedTran" style="display: none;top: 20%;z-index: 9999;opacity: 1;padding-bottom: 40px;width: 100%;" class="popupnew modal fade" >
   <div class="modal-dialog modal-md emaildiv">
      <!-- Modal content-->
      <div class="modal-content" style="padding-bottom: 25px;width: 100%;">
         <div class="modal-body">
            <h2>Transaction</h2>
            <div class="padnew">
               <div class="row">
                  <!--<p><strong>Enter Email ID here</strong></p> -->
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <p>{{closedTranMsg}}</p>

                        </div>
                     </div>
                     <button type="submit" class="btn btn-info pull-right" (click)="invalidDateOk()">OK</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>


 <div id="termsAndPolicy" style="display: none;top: 20%;z-index: 9999;opacity: 1;padding-bottom: 40px;width: 100%;" class="popupnew modal fade" >
   <div class="modal-dialog modal-md emaildiv">
      <!-- Modal content-->
      <div class="modal-content" style="padding-bottom: 17px;width: 100%;">
         <div class="modal-body">
            <h2>Alert
               <button type="button" class="close" (click)="close()">&times;</button>

            </h2>
            <div class="padnew">
               <div class="row">
                  <!--<p><strong>Enter Email ID here</strong></p> -->
                  <div class="col-md-12">
                    <div class="tncAlert">Terms & Conditions have been updated, please review. By accepting you ackonowledge to our Terms & Conditions and Privacy Policy.  </div>
                   
                     <div class="row">
                        <div class="col-md-12">
                           <div class="iAgree">
                           <a (click)="openTermAndServiceDialog('1')" class='andPrivacy' style="cursor: pointer;"> Terms & Conditions 
                           </a> <span class='andspan'> and</span>
                            <a (click)="openTermAndServiceDialog('2')" class='andPrivacy' style="cursor: pointer;"> Privacy Policy </a>
                           </div> 
                           </div>
                     </div>
                     <br>
                     <button type="submit" class="btn btn-info" style="left: 221px;" (click)="agreeBtn()">OK</button>

                     <!-- <button type="submit" class="btn btn-info" style="left: 168px;" (click)="skipBtn()">Skip</button> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>

 <app-term-and-conditions></app-term-and-conditions>
