<div class="row" [formGroup]="LcDetail">
    <div class="col-md-6" [hidden]="bankGuarantee">
        <div class="row">
            <p class="col-md-12"><strong>Loading Goods</strong></p>
            <div class="col-md-6">
                <div class="inputDiv selectdiv">

                    <select name="country" formControlName="loadingCountry" (change)="portLoadingOnchange($event)">
                        <option [ngValue]="null" selected>Select</option>
                        <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                      
                    </select>
                    <label>Country of Port of
                        Loading</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputDiv selectdiv">

                    <select name="IndiaPort" formControlName="loadingPort"  >
                        <option [ngValue]="null" selected>Select</option>
                        <option *ngFor="let data of portOfLoading" [ngValue]='data.port'>{{data.port}} ({{data.code}})</option>
                   </select>
                    <label>Port of Loading</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" [hidden]="bankGuarantee">
        <div class="row">
            <p class="col-md-12"><strong>Discharge Goods</strong></p>
            <div class="col-md-6">
                <div class="inputDiv selectdiv">

                    <select name="country" formControlName="dischargeCountry" (change)="portDischargeOnchange($event)">

                        <option [ngValue]="null" selected>Select</option>
                        <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                      
                    </select>
                    <label>Country of Port of
                        Discharge</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputDiv selectdiv">

                    <select name="Banglaport" formControlName="dischargePort">
                        <option [ngValue]="null" selected>Select</option>
                        <option *ngFor="let data of portOfDischarge" [ngValue]='data.port'>{{data.port}} ({{data.code}})</option>
                   </select>
                    <label>Port of Discharge</label>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-6 ">
        <div class="selection">
            <p class=""><strong>Charges are
                    on</strong></p>
        </div>
        <ul class="list-unstyled list-inline">
            <li *ngIf = "avalRadiobtn == false">
                <div class="radio">
                    <label >
                        <input [checked]="chargesTypeCk1" type="radio" id="ch1" formControlName="chargesType" name="chargesType"  (change)="onItemChangeApp('Applicant')"
                            value="Applicant" ><span class="circle"></span><span
                            class="check"></span><span class="circle"></span><span class="check"></span>
                        {{LcDetail.get('applicantName').value}} (Applicant)
                    </label>
                </div>
            </li>
            <li *ngIf = "avalRadiobtn == false">
                <div class="radio">
                    <label >
                        <input [checked]="chargesTypeCk2" type="radio" id="ch2" name="chargesType" formControlName="chargesType" (change)="onItemChangeBene('Beneficiary','')"
                            value="Beneficiary"><span class="circle"></span><span
                            class="check"></span><span class="circle"></span><span class="check"></span>
                        {{LcDetail.get('beneName').value}} (Beneficiary)
                    </label>
                </div>
            </li>
            <li *ngIf = "avalRadiobtn == true">
                <div class="radio">
                    <label >
                        <input [checked]="chargesTypeCk3" type="radio" id="ch2" name="chargesType" formControlName="chargesType" (change)="onItemChangeBene('Beneficiary','AparExporters')"
                            value="Beneficiary"><span class="circle"></span><span
                            class="check"></span><span class="circle"></span><span class="check"></span>
                            {{LcDetail.get('beneName').value}} (Beneficiary)
                        </label>
                </div>
            </li>
        </ul>
    </div>
    <div></div>
    <div class="col-md-3 col-sm-3" style="bottom: 25px;">
            <mat-form-field (click)="validity.open()" style="width: 102%;">
                <mat-label style="font-size: 12px!important;font-weight: 500!important;letter-spacing: 0.4px!important;font-family: 'Montserrat', sans-serif!important;color: #999;">
                    Validity <br> <small style="letter-spacing: -0.12px;"> (expected date to receive quote) </small> </mat-label>
                <input style="padding-bottom: 5px;padding-top: 8px;" matInput [matDatepicker]="validity" class="has-value" [min]="minDate" formControlName="validity" autocomplete="off" class="validity">
                <mat-datepicker-toggle [for]="validity" matSuffix>
                </mat-datepicker-toggle>
                <mat-datepicker  #validity>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3" style="bottom: -12px;padding-left: 26px;">
        <div class="checkbox" style="margin-top:10px!important;">
            <label><!--Rahul Changes-->  <a class="textddlV" data-toggle="tooltip" data-placement="auto" title= "Environmental, Social and Governance" >
                <i class="fas fa-info-circle" style="font-size: 11px !important;color: #333;cursor: pointer;"></i></a> 
          
               <input type="checkbox" id="isCheckedForTerms"  formControlName="isESGComplaint">   
               Is ESG Compliant ? 
            </label>
     
         </div>
         </div>
    <div class="clearfix"></div>

   
    <div class="clearfix"></div>
    <div class="col-md-5">
        <p *ngIf = "avalRadiobtn != true"><strong>{{uploadTxt}}</strong></p>
        <p *ngIf = "avalRadiobtn == true"><strong>Upload Avalisation Draft</strong></p>
        <label>Upload Document (only jpg, jpeg, png, pdf, tiff)  </label>
        <span *ngIf="this.LcDetail.get('lcProForma').value" class="labeltext" style="cursor: pointer;color: blue;margin-left: 50px;" (click)="openDocument(this.LcDetail.get('lcProForma').value)"> View</span>

        <input formControlName="lcProForma" #myInput (change)="handleFileInput1($event)" type="file"  placeholder="No file" 
        class="filestyle" name="upload_file11" id="upload_file11" data-icon="false"/>
        <i class="material-icons deleteFile" *ngIf="isUpload" (click)="deleteFileContent()">delete</i>  
        <!-- <mat-icon style="color: red;" *ngIf="isUpload" (click)="deleteFileContent()" class="deleteFile">close</mat-icon> -->
        <span style="padding-left: 10px; color: #8c8a8a;font-size: 13px;font-weight: 300;"> File size should be less than 20MB</span>
    </div> 
    
    <div class="col-md-2">

    </div>

</div>


<div id="myModaluploadView" class="modal3" style="display: none;">
  
    <div class="modal-content">
      <div class="col-md-12 arrow_box"><button type="button" class="close" (click)="close()">&times;</button></div>
      <div class="modal-body" style="text-align:center">
        <h4>Attached document</h4>
        <div class="row">
          <!--<p><strong>Enter Email ID here</strong></p> -->
          <div class="col-md-12">
           <img style="height: 100%; width: 100%;" *ngIf="imgDownload" [src]="document" alt=""/>
           <div>
            {{filenameView}}</div>
           <a  style="cursor: pointer;color: blue;margin-left: 5px!important" (click)="download()"> {{isDownloadORview}}</a>

          </div>
          <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  

  <div id="invalidFileOthers" style="display: none;top: 20%;z-index: 9999;opacity: 1;padding-bottom: 40px;width: 100%;" class="popupnew modal fade" >
    <div class="modal-dialog modal-md emaildiv">
       <!-- Modal content-->
       <div class="modal-content" style="padding-bottom: 25px;width: 100%;top: 46px;">
          <div class="modal-body">
             <h2>Invalid File</h2>
             <div class="padnew">
                <div class="row">
                   <!--<p><strong>Enter Email ID here</strong></p> -->
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-12">
                            <p>{{invalidFileMsg}}</p>

                         </div>
                      </div>
                      <button type="submit" class="btn btn-info pull-right" (click)="invalidDateOk()">OK</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>