<div class="content paymentpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content text-center">
                        <p class="errormessage">Thank you for submitting the KYC documents.</p>
                        <a >
                            <div class="ocmain">
                                <div class="ocrloader">
                                    <em></em>
                                    <div>
                                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                        <i></i><i></i><i></i>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                        <span>Currently we are reviewing your account. You will be notified on registered email address
                            once we complete the review.</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="txnPendingKYC" style="display: none;top: 20%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
    <div class="modal-dialog modal-md emaildiv">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-body">
             <h2>Transaction Pending </h2>
             <div class="padnew">
                <div class="row">
                   <!--<p><strong>Enter Email ID here</strong></p> -->
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-12">
                            <p>{{trnxPendingMsg}}</p>
                           
                         </div>
                      </div>
                      <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="pendingOkBtn()">OK</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>