<div id="myModal" class="modal1">
  <!-- <div class="modal-dialog modal-md emaildiv"> -->
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4><b style="font-weight: 500 !important;">
            Change Password</b>
            <button type="button" style="margin-top: 2px;" class="close" (click)="close()">
              &times;
            </button>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <!--<p><strong>Enter Email ID here</strong></p> -->
              <div class="col-md-12">
                <div class="row">
                  <div class="inputDiv">
                    <input [type]="isTextFieldType ? 'text' : 'password'" (keydown)="validateRegexFields($event, 'noSpace')"
                      type="password"
                      formControlName="oldpassword"
                      maxlength="20"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          changePassDetails.oldpassword.errors?.required
                      }"
                    />
                    <label>Old Password</label>
                    <i (click)="togglePasswordFieldType('oldpassword')" [ngClass]="isTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                    <div *ngIf="wrongPassword" class="invalid-feedback">
                      Old Password is Incorrect  
                    </div>
                    <div
                      *ngIf="
                        submitted &&
                        changePassDetails.oldpassword.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      Old Password is required
                    </div>
                    <div *ngIf="changePassDetails.oldpassword.errors?.pattern" class="invalid-feedback">
                      password cannot contain whitespace
                    </div>
                  
                  </div>

                  <div class="inputDiv">
                    <input [type]="isTextFieldType1 ? 'text' : 'password'" (keydown)="validateRegexFields($event, 'noSpace')"
                      type="password"
                      formControlName="newPassword"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          changePassDetails.newPassword.errors?.required
                      }"
                      maxlength="20"
                    />
                    <label>New Password</label>
                    <i (click)="togglePasswordFieldType('newPassword')" [ngClass]="isTextFieldType1 ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>

                    <div
                      *ngIf="
                        submitted &&
                        changePassDetails.newPassword.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      New Password is required
                    </div>
                    <div *ngIf="changePassDetails.newPassword.errors?.pattern" class="invalid-feedback">
                      password cannot contain whitespace
                    </div>
                    <div *ngIf="changePassDetails.newPassword.errors?.minlength" class="invalid-feedback">
                      Enter 6 characters long password.
                  </div>
                  </div>

                  <div class="inputDiv">
                    <input [type]="isTextFieldType2 ? 'text' : 'password'" (keydown)="validateRegexFields($event, 'noSpace')"
                      type="password"
                      formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': submitted && (changePassDetails.confirmPassword.errors?.required ||
                            (changePassDetails.confirmPassword.touched && changePassDetails.confirmPassword.errors?.mustMatch))}"
                      maxlength="20"
                    />
                    <label>Confirm Password</label>
                    <i (click)="togglePasswordFieldType('confirmPassword')" [ngClass]="isTextFieldType2 ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>

                    <div
                      *ngIf="
                        submitted &&
                        changePassDetails.confirmPassword.errors?.required
                      "
                      class="invalid-feedback"
                    >
                      Confirm Password is required
                    </div>
                    <div
                      *ngIf="
                        changePassDetails.confirmPassword.touched &&
                        changePassDetails.confirmPassword.errors?.mustMatch
                      "
                      class="invalid-feedback"
                    >
                      Confirm Password is not matching with New Password
                    </div>
                    <div *ngIf="changePassDetails.confirmPassword.errors?.pattern" class="invalid-feedback">
                      password cannot contain whitespace
                    </div>
                    <div *ngIf="changePassDetails.confirmPassword.errors?.minlength" class="invalid-feedback">
                      Enter 6 characters long password.
                  </div>
                 
                  </div>
                </div>
                <button class="btn btn-info pull-right" type="submit">
                  Submit
                </button>
              </div>
              <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
            </div>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<div id="wrongPassword" style="display: none;top: 0%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv" style="margin-top: 200px;">
     <!-- Modal content-->
     <div class="modal-content" style="width: 80%;">
        <div class="modal-body">
           <h2>Old Password is incorrect! </h2>
           <div class="padnew">
              <div class="row">
                 <!--<p><strong>Enter Email ID here</strong></p> -->
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                          <h5>Kindly check the password and try again!</h5>
                         
                       </div>
                    </div>
                    <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="wrngPassOK()">OK</button>
                  
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>