<div class="loginbody">
   <div class="logo">       
      &nbsp; &nbsp;&nbsp; <img style="position:relative;backdrop-filter: blur(8px);"
       src="assets/images/360TF-3.jpg" width="150" height="54"/>
  </div>
   <div class="content-a">
      <div class="content-b">
         
         <div class="container-fluid">
            <div class="">
               <div class="col-md-3 col-md-offset-4 maindiv right-panel-active" id="container">
                  <div class="form-container sign-up-container">
                     <form [formGroup]="forgetPassword" (ngSubmit)="save()" style="padding: 100px 30px;">
                        <div class="content-a">
                           <div class="content-b">
                              <div class="col-md-12">
                                 <h1>Reset Password</h1>
                                 <span style="padding-bottom: 25px;"></span>
                                 <div class="inputDiv">
                                    <input [type]="isTextFieldType ? 'text' : 'password'" maxlength="20"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && forgetPasswordDetails.password.errors }"> 
                                    <label>Enter New Password</label>
                                    <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                    <i (click)="togglePasswordFieldType()" [ngClass]="isTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                    <div *ngIf="submitted && forgetPasswordDetails.password.errors" class="invalid-feedback">
                                    <div *ngIf="forgetPasswordDetails.password.errors.required">Password field is required</div>
                                    </div>  
                                    <div *ngIf="forgetPasswordDetails.password.errors?.minlength" class="invalid-feedback">
                                       Enter 6 characters long password.
                                    </div>       
                                 </div> 
                                 <div class="inputDiv">
                                    <input [type]="isreTextFieldType ? 'text' : 'password'" maxlength="20"  formControlName="rePassword" [ngClass]="{ 'is-invalid': submitted && forgetPasswordDetails.rePassword.errors }"> 
                                    <label>Re-enter New Password</label>
                                    <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                    <i (click)="togglerePasswordFieldType()" [ngClass]="isreTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                    <div *ngIf="submitted && forgetPasswordDetails.rePassword.errors" class="invalid-feedback">
                                       <div *ngIf="forgetPasswordDetails.rePassword.errors.required">Password field is required</div>
                                    </div>  
                                    <div *ngIf="forgetPasswordDetails.rePassword.errors?.minlength" class="invalid-feedback">
                                       Enter 6 characters long password.
                                    </div>  
                                    <div *ngIf="forgetPasswordDetails.rePassword.touched && forgetPasswordDetails.rePassword.errors?.mustMatch" class="invalid-feedback">
                                       Re-enter Password is not matching with New Password
                                    </div>     
                                 </div>
                                 <div class="form-group"></div>
                                 <button type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
                              </div>                             
                           </div>
                        </div>
                        <a class="extralink" (click)="returntologin()" id="btnLoginfromreset" style="padding-top: 25px!important;">Return to Login</a>
                     </form>
                  </div>
                  <div class="form-container sign-in-container">
                  </div>
                  <div class="overlay-container">
                     <div class="overlay">
                        <div class="overlay-panel overlay-left">
                           <i class="fas fa-key" style="font-size: 23px;margin: 0 0 20px;"></i>
                           <h1>Reset Password</h1>
                           <p>To keep connected with us please login with your personal info</p>
                        </div>
                        <div class="overlay-panel overlay-right">
                           <h1>Hello, Friend!</h1>
                           <p>Enter your personal details and start journey with us</p>
                           <button class="ghost" id="signUp">Sign Up</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<router-outlet></router-outlet>