<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card myprofile">
          <div
            class="card-header card-header-icon"
            data-background-color="blue"
          >
            <i class="fas fa-user"></i>
          </div> 
          <div class="card-content">
            <h4 class="card-title cheader-title">
              <b style="font-weight: 500 !important; ">My Profile &nbsp;&nbsp;&nbsp; </b><small
                >Account Verified
                <img
                  src="https://image.flaticon.com/icons/svg/929/929440.svg"
                  style="width: 18px !important; vertical-align: text-bottom"
              /></small>
            </h4>
            <div class="row">
              <p class="col-lg-12">
                <strong>Personal Details</strong
                ><small>
                  <a
                    style="cursor: pointer"
                    (click)="redirectOn('personal-details')"
                    class="edit_icon"
                    >Edit <i class="far fa-edit"></i></a
                ></small>
              </p>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">First Name</span>
                  <span class="labeltext">{{ personalDetails.firstName }}</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Last Name</span>
                  <span class="labeltext">{{ personalDetails.lastName }}</span>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Email ID</span>
                  <span class="labeltext">{{
                    personalDetails.emailAddress
                  }}</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Mobile No.</span>
                  <span class="labeltext">{{ personalDetails.mobileNum }}</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Landline No.</span>
                  <span class="labeltext">{{
                    personalDetails.landLinenumber
                  }}</span>
                  <span
                    class="labeltext"
                    *ngIf="!personalDetails.landLinenumber"
                    >-</span
                  >
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Country</span>
                  <span class="labeltext">{{
                    personalDetails.countryName
                  }}</span>
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
                *ngIf="isReferrer"
              >
                <div class="inputDiv">
                  <span class="customspan">Company Name</span>
                  <span class="labeltext">{{
                    personalDetails.companyName
                  }}</span>
                </div>
              </div>
              <div
                class="col-xs-6 col-sm-6 col-md-6 col-lg-3"
                *ngIf="isReferrer"
              >
                <div class="inputDiv">
                  <span class="customspan">Designation</span>
                  <span class="labeltext">{{
                    personalDetails.designation
                  }}</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngIf="isBank">
                <div class="inputDiv">
                  <span class="customspan">Minimum Value of LC ({{personalDetails.regCurrency}})</span>
                  <span class="labeltext">{{
                    personalDetails.minLCValue
                  }}</span>
                  <span class="labeltext" *ngIf="!personalDetails.minLCValue"
                    >-</span
                  >
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngIf="isBank">
                <div class="inputDiv">
                  <span class="customspan">Black Listed Goods</span>
                  <ul class="list-unstyled list-inline">
                    <li
                      *ngFor="let valuebe of personalDetails.blacklistedGoods"
                    >
                      <span class="labeltext">
                        {{ valuebe.blackListGoods }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isBank">
                <div class="inputDiv">
                  <span class="customspan">Issuance Countries Interested</span>
                  <ul class="list-unstyled list-inline">
                    <li
                      *ngFor="let valuebe1 of personalDetails.interestedCountry"
                    >
                      <span class="labeltext">
                        {{ valuebe1.countriesIntrested }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            
              <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isBank">
                <div class="inputDiv">
                  <span class="customspan">Beneficiary Countries Interested</span>
                  <ul class="list-unstyled list-inline">
                    <li
                      *ngFor="let valuebe1 of personalDetails.beneInterestedCountry"
                    >
                      <span class="labeltext">
                        {{ valuebe1.countriesIntrested }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isReferrer">
                <div class="inputDiv">
                  <span class="customspan">Business Type</span>
                  <span class="labeltext">{{
                    personalDetails.businessType
                  }}</span>
                </div>
              </div>

              <p class="col-lg-12">
                <strong>Additional Email IDs</strong><small></small>
              </p>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Email Id 1</span>
                  <span class="labeltext">{{
                    personalDetails.emailAddress1
                  }}</span>
                  <span class="labeltext" *ngIf="!personalDetails.emailAddress1"
                    >-</span
                  >
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Email Id 2</span>
                  <span class="labeltext">{{
                    personalDetails.emailAddress2
                  }}</span>
                  <span class="labeltext" *ngIf="!personalDetails.emailAddress2"
                    >-</span
                  >
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="inputDiv">
                  <span class="customspan">Email Id 3</span>
                  <span class="labeltext">{{
                    personalDetails.emailAddress3
                  }}</span>
                  <span class="labeltext" *ngIf="!personalDetails.emailAddress3"
                    >-</span
                  >
                </div>
              </div>
            </div>
            <hr />
            <div *ngIf="isCustomer || isBank || bcUserId">
              <p class="dash">
                <strong>Business Details</strong
                ><small>
                  <a
                    style="cursor: pointer"
                    (click)="redirectOn('business-details')"
                    class="edit_icon"
                    >Edit <i class="far fa-edit"></i></a
                ></small>
              </p>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isCustomer">
                  <div class="inputDiv">
                    <span class="customspan">Registration Type</span>
                    <span class="labeltext">{{ bd.registrationType }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="isCustomer">
                  <div class="inputDiv">
                    <span class="customspan">Company Name</span>
                    <span class="labeltext">{{ bd.comapanyName }}</span>
                  </div>
                </div>
                <!-- for BC UserID -->
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="bcUserId">
                  <div class="inputDiv">
                    <span class="customspan">Bank Name</span>
                    <span class="labeltext">{{ bd.comapanyName }}</span>
                  </div>
                </div>
                <!-- End -->
                <div class="clearfix"></div>
                <div class="col-lg-12" *ngIf="isCustomer">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <th>MD/CEO/Owner’s First Name</th>
                        <th>MD/CEO/Owner’s Last Name</th>
                        <th>Designation</th>
                      </tr>
                      <tr *ngFor="let detail of bd.ownerMasterBean">
                        <td>
                          {{ detail.ownerFirstName }}
                        </td>
                        <td>
                          {{ detail.ownerLastName }}
                        </td>
                        <td>
                          {{ detail.designation }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="!isCustomer && !bcUserId">
                  <div class="inputDiv">
                    <span class="customspan">Bank Name</span>
                    <span class="labeltext">{{ bd.bankName }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="!isCustomer && !bcUserId">
                  <div class="inputDiv">
                    <span class="customspan">Branch Name</span>
                    <span class="labeltext">{{ bd.branchName }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="!isCustomer && !bcUserId">
                  <div class="inputDiv">
                    <span class="customspan">Swift Code</span>
                    <span class="labeltext">{{ bd.swiftCode }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3" *ngIf="!isCustomer && !bcUserId">
                  <div class="inputDiv">
                    <span class="customspan">Designation</span>
                    <span class="labeltext">{{ bd.designation }}</span>
                  </div>
                </div>
                <div class="clearfix"></div>

                <h4 class="headingProfile col-md-12">
                  Registered Address Details
                </h4>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Country</span>
                    <span class="labeltext">{{ bd.registeredCountry }}</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">State</span>
                    <span class="labeltext">{{ bd.provinceName }}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">City</span>
                    <span class="labeltext">{{ bd.city }}</span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Address Line 1</span>
                    <span class="labeltext">{{ bd.address1 }}</span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Address Line 2</span>
                    <span class="labeltext">{{ bd.address2 }}</span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Address Line 3/ Landmark</span>
                    <span class="labeltext">{{ bd.address3 }}</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Pincode</span>
                    <span class="labeltext">{{ bd.pincode }}</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <div class="inputDiv">
                    <span class="customspan">Telephone</span>
                    <span class="labeltext">{{ bd.telephone }}</span>
                  </div>
                </div>
              </div>
              <hr />
            </div>
            <p class="dash">
              <strong>KYC Details</strong>
              <small *ngIf="noData">
                <a
                  style="cursor: pointer"
                  (click)="redirectOn('kyc-details')"
                  class="edit_icon"
                  >Edit <i class="far fa-edit"></i></a></small>
            </p>
            <div class="clearfix"></div>
            <div class="table-responsive" *ngIf="!noData">
                <table class="table table-bordered">
                  <tr>
                    <th>DocumentName</th>
                    <th>Kyc Status</th>
                    <th>Uploaded Document</th>
                  </tr>
                  <tr *ngFor="let detail of kd">
                    <td>
                      {{ detail.documentName }}
                    </td>
                    <td>
                      {{ detail.kycStatus }}
                    </td>
                    <td>
                      <span class="labeltext" *ngIf="detail.encodedFileContent" style="cursor: pointer;color: blue;" (click)="openDocument(detail.encodedFileContent)">View</span>                                                                                       
                    </td>
                  </tr>
                </table>
            </div>
            <div class="col-md-12" *ngIf="noData">
                <p style="margin-left: -15px!important;">No kyc Data is available.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left"></nav>
    <p class="copyright pull-right">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Nimai Management Consultants
    </p>
  </div>
</footer> -->



<div id="modal_kycView" class="modal3" style="display: none;">
    <!-- <div class="modal-dialog modal-md emaildiv"> -->
    <!-- Modal content-->
    <div class="modal-content">
      <div class="col-md-12 arrow_box"><button type="button" class="close" (click)="close()">&times;</button></div>
      <div class="modal-body" style="text-align:center">
        <h4>Attached document</h4>
        <div class="row">
          <!--<p><strong>Enter Email ID here</strong></p> -->
          <div class="col-md-12">
           <img style="height: 100%; width: 100%;" *ngIf="imgDownload" [src]="document" />
           <a style="cursor: pointer;color: blue;margin-left: 5px!important" (click)="download()">{{isDownloadORview}}</a>

          </div>
          <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>