<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="fas fa-user-plus"></i>
                                        </div>
                    <div class="card-content">
                        <h4 class="card-title"> <span id="changetext"> <b style="font-weight: 500 !important; ">Refer</b></span>
                            <ul class="pull-right list-unstyled list-inline statusbar">
                                <li>
                                    <label>Total References <span class="">{{total_references}}</span></label>
                                </li>
                                <li><label>Total Earning <span>USD {{total_earning | number:'1.2-2'}}</span></label></li>
                                <li>
                                    <a class="btn btn-info pull-right" (click)="addRefer()">+ Refer</a>
                                </li>

                            </ul>
                        </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive material-datatables" id="transactionID" cellspacing="0"
                                    width="100%" style="width:100%">
                                    <table class="table table-hover" id="datatables">
                                        <thead>
                                            <tr>
                                                <th class="disabled-sorting text-center" style="min-width: 19px!important;">#</th>
                                                <th style="min-width: 120px;">Name</th>
                                                <th style="min-width: 100px;">Country</th>
                                                <th style="min-width: 150px;">Company</th>
                                                <th style="min-width: 180px;">Email</th>
                                                <th style="min-width: 100px;">Mobile</th>
                                                <th style="min-width: 100px;">Date </th>
                                                <th style="min-width: 120px;">Plan Purchased</th>
                                                <th style="min-width: 120px;">Billing Amount</th>
                                                <th style="min-width: 100px;">Earning (USD)</th>
                                                <th style="min-width: 120px;">Purchase Type</th>
                                                <th style="min-width: 100px;" nowrap
                                                class="disabled-sorting text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let record of referViewDetails; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{record.firstName}} &nbsp; {{record.lastName}}</td>
                                                <td>{{record.countryName}}</td>
                                                <td>{{record.companyName}}</td>
                                                <td>{{record.emailAddress}}</td>
                                                <td nowrap>{{record.mobileNo}}</td>
                                                <td nowrap>{{record.insertedDate | date : "dd-MM-y"}}</td>
                                                <td>{{record.planPurchased}}</td>
                                                <td>{{record.billingAmount}}</td>
                                                <td>{{record.earnings}}</td>
                                                <td>{{record.purchaseType}}</td>
                                                <td>{{record.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addsub" class="popupnew modal fade in" role="dialog" style="display:none;">
    <div class="modal-dialog emaildiv">
        <!-- Modal content-->
        <div class="modal-content">
            <form [formGroup]="referForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <h2>Refer <span class="refer_span">Refer a corporate to join {{tradeName}} and earn referral fees on an on-going basis.</span>
                        <button type="button" class="close" (click)="close()">&times;</button>
                    </h2>
                    <div class="padnew">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="authemaildiv">

                                    <div class="form-group"></div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="inputDiv">
                                                    <input type="text" maxlength="15"   [ngClass]="{ 'is-invalid': submitted && referDetails.firstName.errors?.required }"
                                                     formControlName="firstName" (keydown)="validateRegexFields($event, 'name_validation')">
                                                    <label>First Name</label>
                                                    <div *ngIf="submitted && referDetails.firstName.errors?.required" class="invalid-feedback">       
                                                        <div *ngIf="submitted && referDetails.firstName.errors?.required">
                                                            First Name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="inputDiv">
                                                    <input type="text" maxlength="15" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && referDetails.lastName.errors?.required }" (keydown)="validateRegexFields($event, 'name_validation')">
                                                    <label>Last Name</label>      
                                                    <div *ngIf="submitted && referDetails.lastName.errors?.required" class="invalid-feedback">
                                                        Last Name is required.
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-6">
                                                <div class="inputDiv">
                                                    <input type="text"  maxlength="45" (keydown)="validateRegexFields($event, 'space')" formControlName="emailAddress" oninput="this.value = this.value.toLowerCase()" [ngClass]="{ 'is-invalid': submitted && (referDetails.emailAddress.errors?.required || referDetails.emailAddress.errors?.pattern)}">
                                                    <label>Email ID</label>
                                                    <div *ngIf="submitted && referDetails.emailAddress.errors?.required" class="invalid-feedback">
                                                        Email is required
                                                    </div>
                                                    <div *ngIf="referDetails.emailAddress.touched && referDetails.emailAddress.errors?.pattern"  class="invalid-feedback">
                                                        Invalid Email id
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="inputDiv selectdiv" >
                                                    <select formControlName="countryName" class="countryddl" (ngModelChange)="showCountryCode($event)" [ngClass]="{ 'is-invalid': submitted && referDetails.countryName.errors?.required }">
                                                        <option value="">Select</option>
                                                        <option *ngFor="let data of resp" [ngValue]='data'>{{data.country}}</option>    
                                                    </select>
                                                    <label>Country</label>
                                                    <div *ngIf="submitted && referDetails.countryName.errors?.required" class="invalid-feedback">
                                                        Country is required
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="inputDiv divmob">
                                                    <div class="countrycode" *ngIf="hasCountrycode;else other_content">+{{countryCode}}</div>
                                                    <ng-template #other_content></ng-template>
                                                    <input type="text" maxlength="13" formControlName="mobileNo" [ngClass]="hasCountrycode ? 'has-value' : ''" [ngClass]="{ 'is-invalid': submitted && referDetails.mobileNo.errors?.required }"  maxlength="12" (keypress)="validateRegexFields($event, 'mobile_number')">
                                                    <label>Mobile No.</label>      
                                                    <div *ngIf="submitted && referDetails.mobileNo.errors?.required" class="invalid-feedback">
                                                        Mobile No. is required.
                                                    </div>
                                                    <div *ngIf="referDetails.mobileNo.errors?.minlength" class="invalid-feedback">
                                                        Mobile Number is atleast of 7 digits.
                                                    </div>
                                                   
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="inputDiv">
                                                  
                                                    <input type="text" maxlength="13" formControlName="landLineNo" 
                                                    [ngClass]="hasCountrycode ? 'has-value' : ''" 
                                                      maxlength="12" (keypress)="validateRegexFields($event, 'number')">
                                                    <label>Landline No.</label>      
                                                    <!-- <div *ngIf="submitted && referDetails.landLineNo.errors?.required" class="invalid-feedback">
                                                        Landline No. is required.
                                                    </div> -->
                                                    <div *ngIf="referDetails.landLineNo.errors?.minlength" class="invalid-feedback">
                                                        Landline Number is atleast of 7 digits.
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                           


                                            <div class="col-md-6">
                                                <div class="inputDiv">
                                                    <input type="text" maxlength="30" formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && (referDetails.companyName.errors?.required)}">
                                                    <label>Company Name</label>
                                                    <div *ngIf="submitted && referDetails.companyName.errors?.required" class="invalid-feedback">
                                                        Company Name is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" *ngIf="showBranchUserId" [ngClass]="{ 'is-invalid': submitted && (referDetails.branchUserId.errors?.required)}">
                                                <div class="inputDiv">
                                                    <input type="text" maxlength="30" formControlName="branchUserId" >
                                                    <label>Branch User Id</label>
                                                    <div *ngIf="submitted && referDetails.branchUserId.errors?.required" class="invalid-feedback">
                                                        Branch User Id is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p id="paradiv">
                                    {{respMessage}}
                                </p>
                                <div class="clearfix"></div>
                                <button type="submit" [disabled]="!referForm.valid" id="btninvite" class="btn btn-info pull-right">Invite
                                    User</button>
                                <a (click)="onOkClick()" id="okbtn" class="btn btn-info pull-right">Ok</a>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>