
<div *ngIf="scriptletTerms" id="privacyPolicy" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <!-- Modal content-->
     <div class="modal-content" >
      <h2><strong>PRIVACY POLICY</strong>  <button type="button" class="close" 
        (click)="close()" style=" margin-left: 697px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-12">
                      
                        <div  [innerHTML]="scriptlet"></div>                         
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>



<div  *ngIf="scriptlet" id="termsConditionId" style="display: none;top: 0%;z-index: 9999;opacity: 1;" 
class="popupnew modal fade" >
  <div class="modal-dialog modal-md emaildiv">
     <div class="modal-content" >
        <h2><strong>TERMS AND CONDITIONS </strong>
         <!-- <button style="float: right; margin-right: 68px;" (click)="convetToPDF()" > Download </button> -->

         <button type="button" class="close" 
        (click)="close()" style=" margin-left: 624px;
        margin-bottom: 0px;
        margin-top: -3px;
        color: #565151;">&times;</button></h2>
        <div class="modal-body">   
          
           <div class="padnew">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row">
                      <div  [innerHTML]="scriptletTerms"></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
