.pophead{
    font-size: 9px;
    font-weight: 500;
    padding: 0px 15px;
    margin: 0px 0 20px;
    background: #00bcd4;
    color: #fff;
    display: flex;
}

.mat-dialog-title {
    margin: 0;
    display: block;
}
/* .close_dialog{
    margin-top: 30px!important;
    margin-left: 74%!important;
} */



/* The Modal (background) */

.modal1, .modal2, .modal3{
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-body {
    position: relative;
    padding: 15px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 152%;
    right: 161px;
    top: 94px;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    z-index: 9;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.span-pad{
    padding-left: 0px;
  
}
.p-pad{
    padding-left: 0px;
   
}
.ptext {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 16px;
}
.inputDiv .invalid-feedback {
	display: block;
    position: absolute;
    top: 30px;
    right: 2px;
    color: #ff0330;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
}
 
.inputDiv .is-invalid {
	outline: none;
    background-image: linear-gradient(#ff0330, #ff0330), linear-gradient(#ff0330, #ff0330);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;

}

#success_msg{
padding-top:0px!important;
}
.cust_email{
    color: black;
}
.renter_btn:hover{
    color: teal;
}

p{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #545454;
}
u{
    color: black;
}