<div id="myCanvasNav" class="overlay3" (click)="closeOffcanvas()"></div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title"><b style="font-weight: 500 !important; ">Saved Transactions </b></h4>
                    <form>
                        
                        <!-- <div class="row" *ngIf="noData">
                        <div class="col-md-12" >
                            No saved transactions are available
                        </div>
                        </div> -->
                        <div class="row" *ngIf="!noData">
                        <div class="col-md-12" >
                            <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%">
                                <table class="table table-hover" id="datatables">
                                   <thead>
                                      <tr>
                                         <th style="min-width: 20px;" class="disabled-sorting text-center">#</th>
                                            <th style="min-width: 100px;" class="disabled-sorting text-center">Draft</th>
                                            <th style="min-width: 100px;">Product</th>
                                            <th style="min-width: 100px;">Date</th>
                                            <th style="min-width: 100px;"class="disabled-sorting text-center"></th>
                                            <th style="min-width: 100px;"class="disabled-sorting text-center"></th>
                                         </tr>
                                    </thead>                                     
                                    
                                    <tbody>
                                    <tr *ngFor="let list of draftData; let i = index">
                                        <td style="min-width: 20px;">{{i+1}}</td>
                                     
                                        <td>Draft</td>
                                        <td>
                                            <div *ngIf="list.requirementType=='Banker' || list.requirementType =='Banker’s Acceptance'">Banker’s Acceptance</div>
                                            <div *ngIf="list.requirementType=='ConfirmAndDiscount' || list.requirementType =='Confirmation and Discounting'">Confirmation and Discounting</div>
                                            <div *ngIf="list.requirementType=='Refinance' || list.requirementType =='Refinancing'">Refinancing </div>
                                            <div *ngIf="list.requirementType=='Discounting'">Discounting</div>
                                            <div *ngIf="list.requirementType=='Confirmation'">Confirmation</div>
                                            <div *ngIf="list.requirementType=='BankGuarantee'">Bank Guarantee</div>
                                            <div *ngIf="list.requirementType=='BillAvalisation'">Avalisation</div>


                                        </td>
                                        <!-- <td>{{list.transactionId}}</td> -->
                                        <td>{{list.modifiedDate  | date : "dd-MM-y"}}</td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info" (click)="editDraft(list.transactionId)">Edit</button></td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info" (click)="deleteDraft(list)">Delete</button></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="text-right downloaddiv">
                                <ul class="list-unstyled list-inline">
                                  <li>Download</li>
                                  <li><a href="javascript:void()" class="pdf"><span class="fas fa-file-pdf"></span></a></li>
                                  <li><a href="javascript:void()" class="excel"><span class="fas fa-file-excel"></span></a></li>
                                </ul>
                              </div> -->
                        </div>
                    </div>
                        
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>           


