<div id="myCanvasNav" class="overlay3" (click)="closeOffcanvas()"></div>

<div class="content">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12">
             <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                <i class="fa fa-check-square-o"></i>
              </div>
                <div class="card-content">
                    <button type="submit" class="btn btn-info pull-right" *ngIf="!isFreeze" (click)="refreshPage()">
                        Refresh
                     </button>
                   <h4 class="card-title pull-left"><b style="font-weight: 500 !important; "> Active Transactions</b></h4>
   
                   <div class="row">
                    <div class="parentOfSelect" *ngIf="disablesubsi">
                        <div id="addOptionsub" class="addOptions inputDiv selectdiv pull-right col-md-4">
                            <label style="top: 0px;font-size: 12px;padding-left: 7px;">Additional user</label>

                            <select (change)="selectSubsidiaries($event.target.value)"  class="has-value"> 
                             <!-- <option value='All'>All</option> -->
                             <option *ngFor="let data of subsidiaries" [value]="data.subUserId" >{{data.emailId}}</option>                               
                          </select>
                    </div>
                </div> 
               
                <div>
                    <small style="float: right!important;padding-top: 10px!important;" *ngIf="isFreeze"><div id="container_msg"><div class="circle_msg red_msg"></div></div>: Customer has edited the transaction. Kindly validate.</small>
                    <!-- <br> -->
                    <!-- <small style="float: right!important;padding-top: 10px!important;" *ngIf="isExpire"><div id="container_msg"><div class="circle_msg yellow_msg"></div></div>: Transaction validity date has been edited.</small> -->

         </div>        
            </div>  
            <button type="submit" class="btn btn-info pull-right" *ngIf="isFreeze" (click)="refreshPage()">
                Refresh
             </button>
                  <form>
                    <div class="row" *ngIf="hasNoRecord">
                      <div class="col-md-12">
                          No records available
                        </div>
                    </div>
                      <div class="row" *ngIf="!hasNoRecord">
                         <div class="col-md-12">
                            <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%;">
                              
                               <table class="table table-hover" id="datatables">
                                  <thead>
                                    <tr>
                                        <th class="disabled-sorting text-center"></th>
                                      <!-- <th style="min-width: 60px;" class="disabled-sorting text-center">#</th>  -->
                                      <th style="min-width: 40px;" class="disabled-sorting text-center">#</th> 
                                      <!-- <th style="min-width: 150px;">Transaction ID</th> -->
                                      <th style="min-width: 100px;">Transaction ID</th>
                                      <!-- <th style="min-width: 150px;">Obligor Bank</th> -->
                                      <th style="min-width: 100px;">Obligor Bank</th>
                                      <!-- <th style="min-width: 110px;">Goods/Services</th> -->
                                      
                                      <!-- <th style="min-width: 150px;">Applicant Name</th>
                                      <th style="min-width: 150px;">Beneficiary Name</th> -->
                                      <!-- <th style="min-width: 120px;">Product Value</th> -->
                                      <!-- <th style="min-width: 120px;">Amount</th> -->
                                      <th style="min-width: 100px;">Amount</th>
                                      <th style="min-width: 80px;">Ccy</th>
                                      <th style="min-width: 80px;">Potential Income</th>
                                      <th style="min-width: 190px;">Transaction Valid Till</th>
                                      <th style="min-width: 80px;">Quote Valid Till</th>
                                      <!-- <th style="min-width: 130px;">Product</th> -->
                                      <th style="min-width: 100px;">Product</th>
                                      <!-- <th style="min-width: 130px;">Quotes Rank</th> -->
                                      <th style="min-width: 80px;">Quotes Rank</th>
                                      <th style="min-width: 130px;">Action</th>
                                   </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let record of detail; let i = index">
                                        <td></td>
                                      <td>{{i+1}}
                                          <div id="container"  *ngIf="record.quotationStatus=='FreezePlaced' || record.quotationStatus=='FreezeRePlaced'">
                                              <div class="circle red"></div>                                            
                                         </div>
                                         <!-- <div id="container"  *ngIf="record.expiredOn != '1970-01-01T00:00:00.000+0000' && record.expiredOn < record.validity ">
                                            <div class="circle yellow"></div> -->
                                          
                                       <!-- </div> -->
                                        </td>
                                      
                                      <td>{{record.transactionId}}</td>
                                      <td style="background-color: #00bcd4b8;">{{record.lCIssuanceBank}}</td>
                                      <!-- <td>{{record.goodsType}}</td> -->
                                      <!-- <td>{{record.applicantName}}</td>
                                      <td>{{record.beneName}}</td> -->
                                      <td>{{record.lCValue | number}}</td>
                                      <td>{{record.lCCurrency}}</td>
                                      <td *ngIf="record.isOffered != 'Yes'">{{record.totalQuoteValue}}</td>
                                      <td *ngIf="record.isOffered === 'Yes'">{{record.offeredPrice}} </td>
                                      <td nowrap>{{record.validity| date : "dd-MM-y"}}
                                         <p>{{record.transactionDaysCountdown}}</p>
                                      </td>
                                      <td nowrap>{{record.validityDate| date : "dd-MM-y"}}
                                         <p>{{record.quoteDaysCountdown}}</p>
                                      </td>
                                      <td> 
                                       <div *ngIf="record.requirementType=='Banker' || record.requirementType=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                       <div *ngIf="record.requirementType=='ConfirmAndDiscount' || record.requirementType=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                       <div *ngIf="record.requirementType=='Refinance' || record.requirementType=='Refinancing'">Refinancing </div>
                                       <div *ngIf="record.requirementType=='Discounting'">Discounting</div>
                                       <div *ngIf="record.requirementType=='Confirmation'">Confirmation</div>
                                       <div *ngIf="record.requirementType=='BankGuarantee'">Bank Guarantee</div>
                                       <div *ngIf="record.requirementType=='BillAvalisation'">Avalisation</div>
                                       <div *ngIf="record.requirementType=='TradeLoan'">Trade Loan</div>

                                    </td>
                                      <td>{{record.quoteRank}}</td>
                                      <td><a href="javascript:void()" (click)="openNav3();showQuotePage(record.requirementType,0,record);"
                                              class="btn btn-info btn-round" *ngIf=" record.quotationStatus=='ExpPlaced' || record.quotationStatus=='Placed' ||record.quotationStatus=='RePlaced'">View / Edit<div class="ripple-container"></div></a>
                                              <a href="javascript:void()" (click)="showQuotePage(record.requirementType,0,record);openNav3();"
                                              class="btn btn-info btn-round" *ngIf="record.quotationStatus=='FreezePlaced' || record.quotationStatus=='FreezeRePlaced'">Validate<div class="ripple-container" ></div></a><br>
                                              <a class="" style="cursor: pointer;color:blue" (click)="getDetail(record);openNav3();openOffcanvas();">Detail</a>
                                              <a class='fas fa-unlock-alt pull-left' data-toggle="tooltip" data-placement="right" *ngIf="record.quotationStatus=='RePlaced'"
                                              style='font-size:15px;cursor: pointer;' data-toggle="modal"  title="This transaction has been reopen by the customer.You can modify your previous quote by clicking view/edit button" > </a>
                                             </td>
                                  </tr>
                                  </tbody>
                               </table>
                            </div>
                            
                            <div class="text-right downloaddiv">
                              <ul class="list-unstyled list-inline">
                                <li>Download</li>
                                <!-- <li><a href="javascript:void()" (click)="downloadPDF()" class="pdf"><span class="fas fa-file-pdf"></span></a></li> -->
                                <li><a href="javascript:void()" (click)="downloadExcel()" class="excel"><span class="fas fa-file-excel"></span></a></li>
                              </ul>
                            </div>
                         </div>
                      </div>
                      <div class="clearfix"></div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>


  <div id="menu-barDetailActive" [hidden]="!isDetailActive"  class="offcanvas"
  style="position: fixed; width: 550px; transition: all 300ms ease 0s; height: 100%; top: 0px; right: 0px; z-index:9999;">
   <div class="popupcontent">
       <div class="card">
           <div class="card-content">
               <ul class="nav nav-pills nav-pills-info" style="margin: 0; padding: 10px 15px 0;">
                   <li class="activeTab"><a href="#pill111" data-toggle="tab" aria-expanded="false">Details</a></li>
                   <li class="activeTab"><a href="#tab2" data-toggle="tab" aria-expanded="true">Quote</a></li>

               </ul>
               <div class="tab-content" style="overflow: auto;height: 100%;padding-bottom: 70px;">

                   <div class="tab-pane activeTab" id="pill111">
                       
                       <!-- <div class="row">
                           <div class="col-md-12" style="padding-right: 0px !important;">
                               <table class="table table-bordered">
                                   <thead>
                                       <tr>
                                           <th>Transaction ID</th>
                                           <th>{{specificDetail.transactionId}}</th>
                                       </tr>
                                       <tr>
                                           <th colspan="2">Applicant</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Name</td>
                                           <td>{{specificDetail.applicantName}}</td>
                                       </tr>
                                       <tr>
                                           <td>Country</td>
                                           <td>{{specificDetail.applicantCountry}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.userType == 'Beneficiary' || specificDetail.userType == ''">
                                           <td>Contact Person</td>
                                           <td>{{specificDetail.applicantContactPerson}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.userType == 'Beneficiary' || specificDetail.userType == ''">
                                           <td>Email Id</td>
                                           <td>{{specificDetail.applicantContactPersonEmail}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                               <table class="table table-bordered">
                                   <tbody>
                                       <tr>
                                           <th colspan="2">Beneficiary</th>
                                       </tr>
                                       <tr>
                                           <td>Name </td>
                                           <td>{{specificDetail.beneName}}</td>
                                       </tr>
                                       <tr>
                                           <td>Country</td>
                                           <td>{{specificDetail.beneCountry}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.userType == 'Applicant' || specificDetail.userType == ''">
                                           <td>Contact Person</td>
                                           <td>{{specificDetail.beneContactPerson}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.userType == 'Applicant' || specificDetail.userType == ''">
                                           <td>Email Id</td>
                                           <td>{{specificDetail.beneContactPersonEmail}}</td>
                                       </tr>
                                       <tr>
                                           <td>Bank</td>
                                           <td>{{specificDetail.beneBankName}}</td>
                                       </tr>
                                       <tr>
                                           <td>Swift Code</td>
                                           <td>{{specificDetail.beneSwiftCode}}</td>
                                       </tr>
                                       <tr>
                                           <td>Bank Country</td>
                                           <td>{{specificDetail.beneBankCountry}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                               <table class="table table-bordered">
                                   <thead>
                                       <tr>
                                           <th colspan="2">Product Details</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Obligor Bank</td>
                                           <td>{{specificDetail.lCIssuanceBank}}</td>
                                       </tr>
                                       <tr>
                                           <td>Branch </td>
                                           <td>{{specificDetail.lCIssuanceBranch}}</td>
                                       </tr>
                                       <tr>
                                           <td>Swift Code</td>
                                           <td>{{specificDetail.lCSwiftCode}}</td>
                                       </tr>
                                       <tr>
                                           <td>Country</td>
                                           <td>{{specificDetail.lCIssuanceCountry}}</td>
                                       </tr>
                                       <tr>
                                           <td>Product</td>
                                           <td>
                                               <div *ngIf="specificDetail.requirementType=='Banker' || specificDetail.requirementType=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                               <div *ngIf="specificDetail.requirementType=='ConfirmAndDiscount' || specificDetail.requirementType=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                               <div *ngIf="specificDetail.requirementType=='Refinance' || specificDetail.requirementType=='Refinancing'">Refinancing </div>
                                               <div *ngIf="specificDetail.requirementType=='Discounting'">Discounting</div>
                                               <div *ngIf="specificDetail.requirementType=='Confirmation'">Confirmation</div>
                                               <div *ngIf="specificDetail.requirementType=='BankGuarantee'">Bank Guarantee</div>
                                           </td>

                                       </tr>
                                       <tr>
                                           <td>Amount</td>
                                           <td>{{specificDetail.lCValue | number:'1.2-2'}}</td>
                                       </tr>
                                       <tr>
                                           <td>Currency</td>
                                           <td>{{specificDetail.lCCurrency}}</td>
                                       </tr>
                                       <tr>
                                           <td>Issuance Date</td>
                                           <td>{{specificDetail.lCIssuingDate | date : 'dd-MM-y'}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType != 'Refinance' && specificDetail.requirementType!='BankGuarantee'">
                                           <td>LC Negotiation Date</td>
                                           <td>{{specificDetail.negotiationDate | date : 'dd-MM-y'}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType != 'Refinance' && specificDetail.requirementType!='BankGuarantee'">
                                           <td>Last Shipment Date</td>
                                           <td>{{specificDetail.lastShipmentDate | date : 'dd-MM-y'}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType=='BankGuarantee'">       
                                        <td>BG Expiry Date</td>
                                       <td>{{specificDetail.lCExpiryDate | date : 'dd-MM-y'}}</td>
                                   </tr>
                                   <tr *ngIf="specificDetail.requirementType=='BankGuarantee'">    
                                             <td>Claim Expiry Date</td>
                                       <td>{{specificDetail.claimExpiryDate | date : 'dd-MM-y'}}</td>
                                   </tr>
                                       <tr *ngIf="specificDetail.requirementType=='BankGuarantee'">
                                           <td>BG Type</td>
                                           <td>{{specificDetail.bgType}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType!='BankGuarantee'">
                                           <td>Goods/Services</td>
                                           <td>{{specificDetail.goodsType}}</td>
                                       </tr>
                                   </tbody>
                               </table>

                               <table class="table table-bordered" *ngIf="specificDetail.requirementType != 'Refinance' && specificDetail.requirementType!='BankGuarantee'">
                                   <tbody>
                                       <tr>
                                           <th colspan="2">Tenor of Deferred Payment </th>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType == 'Banker'">
                                           <td>Period for which financing is required</td>
                                           <td>{{specificDetail.discountingPeriod}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType == 'Discounting'">
                                           <td>Usance (Days)</td>
                                           <td>{{specificDetail.discountingPeriod}}</td>
                                       </tr>
                                       <tr *ngIf="specificDetail.requirementType == 'ConfirmAndDiscount' || specificDetail.requirementType == 'Confirmation' || specificDetail.requirementType == 'BankGuarantee' ">
                                           <td>Usance (Days)</td>
                                           <td>{{specificDetail.confirmationPeriod}}</td>
                                       </tr>
                                       <tr>
                                           <td>Payments terms to seller as per LC </td>
                                           <td>{{specificDetail.paymentTerms}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                               <table class="table table-bordered" *ngIf="specificDetail.requirementType =='BankGuarantee'">
                                <tbody>
                                    <tr>
                                        <th colspan="2">Tenor </th>
                                    </tr>
                                 
                                    <tr>
                                        <td>Tenor</td>
                                        <td>{{specificDetail.confirmationPeriod}}</td>
                                    </tr>
                                    <tr>
                                        <td>Claim period </td>
                                        <td>{{specificDetail.paymentTerms}}</td>
                                    </tr>
                                </tbody>
                            </table>
                               <table class="table table-bordered" *ngIf="specificDetail.requirementType == 'Refinance'">
                                   <tbody>
                                       <tr>
                                           <th colspan="2">Tenor of Deferred Payment </th>
                                       </tr>
                                       <tr>
                                           <td>Orignal Usance (Tenor) of LC</td>
                                           <td>{{specificDetail.originalTenorDays}}</td>
                                       </tr>
                                       <tr>
                                           <td>Period for which refinancing is required</td>
                                           <td>{{specificDetail.refinancingPeriod}}</td>
                                       </tr>
                                       <tr>
                                           <td>LC Maturity Date</td>
                                           <td>{{specificDetail.lCMaturityDate | date : "dd-MM-y"}}</td>
                                       </tr>
                                       <tr>
                                           <th colspan="2">Beneficiary Details of Last Transaction</th>
                                       </tr>
                                       <tr>
                                        <td>Multiple Maturity Date</td>                               
                                        <td class="labeltext" *ngIf="specificDetail.tenorFile" style="cursor: pointer;color: blue;"  (click)="showProForma(specificDetail.tenorFile)">View</td>
                                        <td *ngIf="isUploadNoDoc">No such file attached</td>
          
                                     </tr>
                                       <tr>
                                           <td>LC Number</td>
                                           <td>{{specificDetail.lCNumber}}</td>
                                       </tr>
                                       <tr>
                                           <td>Beneficiary Bank Name</td>
                                           <td>{{specificDetail.lastBeneBank}}</td>
                                       </tr>
                                       <tr>
                                           <td>Swift Code</td>
                                           <td>{{specificDetail.lastBeneSwiftCode}}</td>
                                       </tr>
                                       <tr>
                                           <td>Country</td>
                                           <td>{{specificDetail.lastBankCountry}}</td>
                                       </tr>

                                   </tbody>
                               </table>
                               <table class="table table-bordered">
                                   <tbody>
                                       <tr>
                                           <th colspan="2">Others</th>
                                       </tr>
                                       <tr  *ngIf="specificDetail.requirementType !='BankGuarantee'">
                                           <td>Country</td>
                                           <td>{{specificDetail.loadingCountry}}</td>
                                       </tr>
                                       <tr  *ngIf="specificDetail.requirementType !='BankGuarantee'">
                                           <td>Port of Loading</td>
                                           <td>{{specificDetail.loadingPort}}</td>
                                       </tr>
                                       <tr  *ngIf="specificDetail.requirementType !='BankGuarantee'">
                                           <td>Country</td>
                                           <td>{{specificDetail.dischargeCountry}}</td>
                                       </tr>
                                       <tr  *ngIf="specificDetail.requirementType !='BankGuarantee'">
                                           <td>Port of Discharge</td>
                                           <td>{{specificDetail.dischargePort}}</td>
                                       </tr>
                                       <tr>
                                           <td>
                                               Charges are on
                                           </td>
                                           <td>{{specificDetail.lcChargesType}}</td>
                                       </tr>
                                       <tr>
                                           <td>Customer Quote Validity
                                            <a class="" data-toggle="tooltip" data-placement="right" title="The date before which bank needs to place the quote"><i
                                                class="fas fa-info-circle"
                                                style="font-size: 11px !important;color: #333;"></i></a>
                                           </td>
                                           <td>{{specificDetail.validity | date : 'dd-MM-y'}}</td>
                                       </tr>
                                       <tr>
                                        <td> Is ESG Complaint? </td>
                                        <td>{{specificDetail.isESGComplaint}}</td>
                                    </tr>
                                       <tr>
                                           <td *ngIf="specificDetail.requirementType !='BankGuarantee'">Upload Invoice</td>
                                           <td *ngIf="specificDetail.requirementType =='BankGuarantee'">Upload BG Text</td>
                                           <td [hidden]="viewDisable"><a style="cursor: pointer;color:blue;" (click)="showProForma(specificDetail.lcProforma)">View</a>
                                             </td>
                                             <td [hidden]="noFileDisable">No such file attached</td>
                                       </tr>
                                   </tbody>
                               </table>
                               <br><br><br>
                           </div>
                       </div> -->
                  
                       <div class="row">
                        <div class="col-md-12" style="padding-right: 0px !important;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>{{specificDetail.transactionId}}</th>
                                    </tr>
                                    <tr *ngIf="specificDetail.applicantName || specificDetail.applicantCountry">
                                        <th colspan="2">Applicant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="specificDetail.applicantName">
                                        <td>Name</td>
                                        <td>{{specificDetail.applicantName}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.applicantCountry">
                                        <td>Country</td>
                                        <td>{{specificDetail.applicantCountry}}</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr *ngIf="specificDetail.beneName || specificDetail.beneCountry">
                                        <th colspan="2">Beneficiary</th>
                                    </tr>
                                    <tr *ngIf="specificDetail.beneName">
                                        <td>Name </td>
                                        <td>{{specificDetail.beneName}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.beneCountry">
                                        <td>Country</td>
                                        <td>{{specificDetail.beneCountry}}</td>
                                    </tr>
                                    <tr><th>Obligor Bank Details</th></tr>
                                    <tr>
                                       <td>Bank</td>
                                       <td>{{specificDetail.lCIssuanceBank}}</td>
                                    </tr>
                                    <!-- <tr>
                                       <td>Branch</td>
                                       <td>{{specificDetail.lCIssuanceBranch}}</td>
                                    </tr>
                                    <tr>
                                       <td>Swift Code</td>
                                       <td>{{specificDetail.swiftCode}}</td>
                                    </tr> -->
                                    <tr>
                                       <td>Bank Country</td>
                                       <td>{{specificDetail.lCIssuanceCountry}}</td>
                                    </tr>
                                    <tr>
                                        <td>Applicable Law</td>
                                        <td>{{specificDetail.applicableLaw}}</td>
                                        </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2">Transaction Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Participation Basis</td>
                                        <td>{{specificDetail.secTransactionType}}</td>
                                     </tr>
                                     <tr>
                                        <td>Participation Basis</td>
                                        <td>{{specificDetail.participationBasis}}</td>
                                     </tr>
                                    <tr>
                                        <td>Product</td>
                                        <td>
                                            <div *ngIf="specificDetail.requirementType=='Banker' || specificDetail.requirementType=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                            <div *ngIf="specificDetail.requirementType=='ConfirmAndDiscount' || specificDetail.requirementType=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                            <div *ngIf="specificDetail.requirementType=='Refinance' || specificDetail.requirementType=='Refinancing'">Refinancing </div>
                                            <div *ngIf="specificDetail.requirementType=='Discounting'">Discounting</div>
                                            <div *ngIf="specificDetail.requirementType=='Confirmation'">Confirmation</div>
                                            <div *ngIf="specificDetail.requirementType=='BankGuarantee'">Bank Guarantee</div>
                                            <div *ngIf="specificDetail.requirementType=='BillAvalisation'">Avalisation</div>
                                            <div *ngIf="specificDetail.requirementType=='TradeLoan'">Trade Loan</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Amount</td>
                                        <td>{{specificDetail.lCValue | number}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.lCCurrency">
                                        <td>Currency</td>
                                        <td>{{specificDetail.lCCurrency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Target Booking Date</td>
                                        <td>{{specificDetail.lCIssuingDate | date : 'dd-MM-y'}}</td>
                                     </tr>
                                     <tr>
                                        <td>Transaction Maturity date of underlying transaction</td>
                                        <td>{{specificDetail.lCMaturityDate | date : 'dd-MM-y'}}</td>
                                     </tr>
                                     <tr>
                                        <td>Tenor</td>
                                        <td>{{specificDetail.usanceDays}}</td>
                                    </tr>
                                     <tr *ngIf="specificDetail.goodsType">
                                        <td>Goods/Services</td>
                                        <td>{{specificDetail.goodsType}}</td>
                                     </tr>

                                     <tr>
                                        <td>Customer Quote Validity
                                            <a class="" data-toggle="tooltip" data-placement="right" title="The date before which bank needs to place the quote"><i
                                                class="fas fa-info-circle"
                                                style="font-size: 11px !important;color: #333;"></i></a>
                                        </td>
                                        <td>{{specificDetail.validity | date : 'dd-MM-y'}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.isESGComplaint">
                                        <td> Is ESG Compliant ? </td>
                                        <td>{{specificDetail.isESGComplaint}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            
                         
                        
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th colspan="2">Others</th>
                                    </tr>
                                    <tr *ngIf="specificDetail.loadingCountry">
                                        <td>Country</td>
                                        <td>{{specificDetail.loadingCountry}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.loadingPort">
                                        <td>Port of Loading</td>
                                        <td>{{specificDetail.loadingPort}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.dischargeCountry">
                                        <td>Country</td>
                                        <td>{{specificDetail.dischargeCountry}}</td>
                                    </tr>
                                    <tr *ngIf="specificDetail.dischargePort">
                                        <td>Port of Discharge</td>
                                        <td>{{specificDetail.dischargePort}}</td>
                                    </tr>
                                  
                                </tbody>
                            </table>

<table class="table table-bordered">
<tbody>
    <tr>
        <th colspan="2">Pricing </th></tr>

<tr>
<td> Commission Scheme</td>
<td>{{specificDetail.commissionScheme}}</td>
</tr>

<tr *ngIf="specificDetail.minParticipationAmt">
<td>Minimum Partiticipation Amount</td>
<td>{{specificDetail.minParticipationAmt}}</td>
</tr>
<tr *ngIf="specificDetail.offeredPrice">
    <td>Offered Price</td>
    <td>{{specificDetail.offeredPrice}}</td>
   </tr>
<tr *ngIf="specificDetail.retentionAmt">
<td>Retention Amount</td>
<td>{{specificDetail.retentionAmt}}</td>
</tr>

<tr *ngIf="specificDetail.secTransactionType == 'Funded'">
<td>Benchmark</td>
<td>{{specificDetail.benchmark}}</td>
</tr>
<tr *ngIf="specificDetail.otherCondition">
<td>Any Other Conditions</td>
<td>{{specificDetail.otherCondition}}</td>
</tr>

</tbody>
</table>


                            <br><br><br>
                        </div>
                    </div>
                    </div>
                   <div class="tab-pane activeTab" id="tab2">
                       <div class="tab">
                           <table>
                               <tbody>
                                   <tr>
                                       <td><b>Product</b></td>
                                       <td>
                                       <div *ngIf="specificDetail.requirementType=='Banker' || specificDetail.requirementType=='Banker’s Acceptance'">Banker’s Acceptance</div>
                                       <div *ngIf="specificDetail.requirementType=='ConfirmAndDiscount' || specificDetail.requirementType=='Confirmation and Discounting'">Confirmation and Discounting</div>
                                       <div *ngIf="specificDetail.requirementType=='Refinance' || specificDetail.requirementType=='Refinancing'">Refinancing </div>
                                       <div *ngIf="specificDetail.requirementType=='Discounting'">Discounting</div>
                                       <div *ngIf="specificDetail.requirementType=='Confirmation'">Confirmation</div>
                                       <div *ngIf="specificDetail.requirementType=='BankGuarantee'">Bank Guarantee</div>
                                       <div *ngIf="specificDetail.requirementType=='BillAvalisation'">Avalisation</div>
                                       <div *ngIf="specificDetail.requirementType=='TradeLoan'">Trade Loan</div>

                                   </td>
                                       <td><b>Currency</b></td>
                                       <td>{{specificDetail.lCCurrency}}</td>
                                   </tr>
                                   <tr>
                                       <td><b>Transaction ID</b></td>
                                       <td>{{specificDetail.transactionId}}</td>

                                       <td><b>Amount</b></td>
                                       <td>{{ specificDetail.lCValue | number}}</td>
                                   </tr>
                                   <tr>
                                       <td><b>Obligor Bank</b></td>
                                       <td>{{specificDetail.lCIssuanceBank}}</td>

                                       <td><b>Tenor</b></td>
                                       <td>{{specificDetail.usanceDays}} Days</td>
                                   </tr>
                                   <!-- new  -->
                                   <tr>
                                    <td><b>Distributing Bank</b></td>
                                    <td>{{bankName}}</td>

                                    <td><b>Participation Basis</b></td>
                                    <td>{{specificDetail.secTransactionType}}</td>
                                   </tr>
                                   <!-- end -->
                               </tbody>
                           </table>
                       </div>
                       <div class="form-group clearfix"></div>

                       <div class="row" *ngIf="hasNoRecordQuote">
                           <div class="col-md-12">
                               <table class="table">
                                   <tbody>
                                       <tr>
                                           <td style="width: 50%;">Participation Amount</td>
                                           <td *ngIf="quotationdata">{{quotationdata.participationAmount}}</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.secTransactionType!='Funded' && quotationdata.isOffered != 'Yes'"  >
                                        <td>Participation Commission/Fee p.a <br><small style="color: #b6a3a3;"></small>
                                        </td>
                                        <td>
                                            {{quotationdata.participationCommission}} %
                                        </td>
                                    </tr>
                                       <!-- <tr *ngIf="quotationdata.secTransactionType == 'Funded' || quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType=='Discounting' || quotationdata.requirementType=='Banker'">
                                           <td>Applicable Benchmark (if any)<br><small
                                               style="color: #b6a3a3;">{{quotationdata.benchmark}}</small></td>
                                           <td *ngIf="quotationdata">{{quotationdata.benchmark}}</td>
                                       </tr> -->
                                       <tr *ngIf="quotationdata.secTransactionType == 'Funded' && quotationdata.isOffered != 'Yes'">
                                        <td>Applicable Benchmark<br><small></small></td>
                                            <td>{{quotationdata.applicableBenchmark}} %</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.secTransactionType == 'Funded' && quotationdata.isOffered != 'Yes'">
                                        <td>Risk margin spread over benchmark<br><small></small></td>
                                            <td>{{quotationdata.discountingCharges}} %</td>
                                       </tr>
                                       <!-- <tr *ngIf="quotationdata.requirementType == 'Confirmation' || quotationdata.requirementType == 'ConfirmAndDiscount' ">
                                           <td>Confirmation Commission p.a.</td>
                                           <td *ngIf="quotationdata">{{quotationdata.confirmationCharges}} %</td>
                                       </tr> -->
                                       <!-- <tr *ngIf=" quotationdata.requirementType == 'BankGuarantee'">
                                        <td>BG Commission p.a.</td>
                                        <td *ngIf="quotationdata">{{quotationdata.confirmationCharges}} %</td>
                                    </tr>
                                       <tr *ngIf="quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType == 'Discounting'">
                                           <td>Discounting Interest p.a.</td>
                                           <td *ngIf="quotationdata">{{quotationdata.discountingCharges}} %</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.confChgsIssuanceToNegot!='0.0' && (quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType == 'Confirmation')">
                                           <td>Confirmation Charges applicable from date of issuance till negotiation date</td>
                                           <td *ngIf="quotationdata">{{quotationdata.confChgsIssuanceToNegot}}</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.confChgsIssuanceToMatur!='0.0' && (quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType == 'Confirmation' )">
                                           <td>
                                               Confirmation Charges from Date of Issuance till date of maturity</td>
                                           <td *ngIf="quotationdata">{{quotationdata.confChgsIssuanceToMatur}}</td>
                                       </tr> -->
                                       <!-- <tr *ngIf="quotationdata.confChgsIssuanceToexp!='0.0' &&  quotationdata.requirementType == 'BankGuarantee'">
                                        <td>Commission Charges applicable from date of issuance till expiry date</td>
                                        <td *ngIf="quotationdata">{{quotationdata.confChgsIssuanceToexp}}</td>
                                    </tr>
                                    <tr *ngIf="quotationdata.confChgsIssuanceToClaimExp!='0.0' && quotationdata.requirementType == 'BankGuarantee'">
                                        <td>
                                            Commission Charges from Date of Issuance till claim expiry date</td>
                                        <td *ngIf="quotationdata">{{quotationdata.confChgsIssuanceToClaimExp}}</td>
                                    </tr>
                                       <tr *ngIf="quotationdata.requirementType == 'Banker'">
                                           <td>Banker's Acceptance Interest p.a.</td>
                                           <td *ngIf="quotationdata">{{quotationdata.bankerAcceptCharges}} %</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.requirementType == 'Refinance'">
                                           <td>Refinancing Interest p.a.</td>
                                           <td *ngIf="quotationdata">{{quotationdata.refinancingCharges}} %</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType=='Discounting' || quotationdata.requirementType == 'Banker'">
                                           <td>Negotiation Interest p.a.(Fixed) </td>
                                           <td *ngIf="quotationdata">{{quotationdata.negotiationChargesFixed}}</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType=='Discounting' || quotationdata.requirementType == 'Banker'">
                                           <td>Negotiation Interest p.a.(%)<br>
                                               &nbsp;&nbsp;&nbsp; <small>*Higher of the two will be considered</small></td>
                                           <td *ngIf="quotationdata">{{quotationdata.negotiationChargesPerct}} %</td>
                                       </tr> -->
                                       <!-- <tr *ngIf="quotationdata.requirementType == 'ConfirmAndDiscount' || quotationdata.requirementType=='Banker' || quotationdata.requirementType=='Refinance'">
                                           <td>Document Handling Charges (if any)</td>
                                           <td *ngIf="quotationdata">{{quotationdata.docHandlingCharges}}</td>
                                       </tr> -->
                                       <tr *ngIf="quotationdata.isOffered != 'Yes'">
                                           <td>Other Charges (if any)<br><small
                                               style="color: #b6a3a3;"></small></td>
                                           <td *ngIf="quotationdata">{{quotationdata.otherCharges}}</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.isOffered != 'Yes'">
                                           <td>Minimum Transaction Charges </td>
                                           <td *ngIf="quotationdata">{{quotationdata.minTransactionCharges}}</td>
                                       </tr>
                                       <tr>
                                           <td>Bank Quote Validity<a class="" data-toggle="tooltip" data-placement="right" title="The date before which customer needs to accept the quote"><i
                                               class="fas fa-info-circle"
                                               style="font-size: 11px !important;color: #333;"></i></a></td>
                                           <td *ngIf="quotationdata">{{quotationdata.validityDate | date : "dd-MM-y"}}</td>
                                       </tr>
                                       <tr *ngIf="quotationdata.isOffered != 'Yes'">
                                           <th>Total Quote</th>
                                           <th *ngIf="quotationdata">{{quotationdata.totalQuoteValue}}</th>
                                       </tr>
                                       <tr *ngIf="quotationdata.isOffered === 'Yes'">
                                        <th>Offered Price</th>
                                        <th *ngIf="quotationdata">{{quotationdata.offeredPrice}}</th>
                                     </tr>
                                       <br>
                                       <tr *ngIf="quotationdata.termConditionComments">                                          
                                           <td>Other terms and conditions <br>
                                            <small  style="color: #b6a3a3;">{{quotationdata.termConditionComments}}</small>
                                         </td>  
                                      </tr>
                                      <br>
                                      <tr>
                                        <td colspan="2">
                                            <small> Disclaimer: The benchmark/taxes as applicable shall be levied as of transaction date, actual quote from the bank may differ to that extent.</small>
                                        </td>
                                    </tr>
                                   </tbody>
                               </table>
                           </div>

                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div id="myModal99" class="modal3" style="display: none;">
   <div class="modal-content-image">
       <div class="col-md-12 arrow_box"><button type="button" class="close-image" (click)="close()">&times;</button></div>
       <div class="modal-body" style="text-align:center">
           <h4>Attached document</h4>
           <div class="row">
               <div class="col-md-12">
                   <!-- <img [src]="document" style="height:100%; width: 100%;"/> -->
                   <img style="height: 100%; width: 100%;" *ngIf="imgDownload" [src]="document" alt=""/>
                   <a style="cursor: pointer;color: blue;margin-left: 5px!important" (click)="download()">{{isDownloadORview}}</a>
    
               </div>
           </div>
       </div>
   </div>
</div>
<app-oflline-confirmation-quotes></app-oflline-confirmation-quotes>
