<!-- <div id="menu-bar-confirmAndDiscount" [hidden]="!isActive" (blur)="closed()"
   style="position: fixed; width: 450px; transition: all 300ms ease 0s; height: 100%; top: 0px; right: 0px; z-index:1049;"> -->
   <div id="menu-bar-conAndDis" class="offcanvas"  [hidden]="!isActive">
    <div class="popupcontent">
        <div class="card">
           <div class="card-content">
              <h4>{{title}} <button type="button" class="close" (click)="closed_div()">&times;</button></h4>
              <div class="tab-content" id="tab1" *ngIf="tab==='tab1'">
                 <div class="tab-pane active" id="pill1" style="overflow: auto;height: 100%;padding-bottom: 110px;">
                    <form name="form"
                    (ngSubmit)="f.form.valid && transaction('preview',null)"
                    #f="ngForm" novalidate>
                    <table class="table table-bordered">
                       <tbody>
                         
                        
                          <tr>
                             <th colspan="2">Applicant</th>
                          </tr>
                          <tr>
                             <td>Name</td>
                             <td><input type="text" style="padding-left: 5px;" name="applicantName" maxlength="100" [(ngModel)]="data.applicantName" [disabled]="applicantType && appBenBAC"
                                #applicantName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && applicantName.invalid }" >
                                <!-- <span> <div *ngIf="f.submitted && applicantName.invalid" class="invalid-feedback">
                                   <div *ngIf="applicantName.errors.required">Name is required</div>
                               </div></span> -->
                              </td>
                          </tr>  
                          <tr>                      
                             <td>Country</td>
                             <td>
                                <select name="applicantCountry" [(ngModel)]="data.applicantCountry" [disabled]="applicantType && appBenBAC"
                                #applicantCountry="ngModel" [ngClass]="{ 'is-invalid': f.submitted && applicantCountry.invalid }" >
                                <!-- <span> <div *ngIf="f.submitted && applicantCountry.invalid" class="invalid-feedback">
                                   <div *ngIf="applicantCountry.errors.required">Country is required</div>
                               </div></span> -->
                                   <option [ngValue]="null" selected>Select</option>
                                   <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country | uppercase}}</option>
                                </select>
                             </td>
                          </tr>
                 
                       </tbody>
                    </table>
                    <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                           <td>Name </td>
                           <td><input type="text" name="beneName" maxlength="100" [(ngModel)]="data.beneName"  maxlength="100" [disabled]="beneficiaryType && appBenBAC"
                              #beneName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beneName.invalid }" >
                              <!-- <span> <div *ngIf="f.submitted && beneName.invalid" class="invalid-feedback">
                                 <div *ngIf="beneName.errors.required">Name is required</div>
                             </div></span> -->
                           </td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select name="beneCountry" [(ngModel)]="data.beneCountry" [disabled]="beneficiaryType && appBenBAC"
                              #beneCountry="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beneCountry.invalid }" >
                            
                                 <option [ngValue]="null" selected>Select</option>
                                 <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country | uppercase}}</option>
                              </select>
                              <!-- <span> <div *ngIf="f.submitted && beneCountry.invalid" class="invalid-feedback">
                                 <div *ngIf="beneCountry.errors.required">Country is required</div>
                             </div></span> -->
                           </td>
                        </tr>
                      
                     <!-- <tr><th>Issuance Bank Details</th></tr> -->
                     <tr><th>Obligor Bank Details</th></tr>
                     <tr>
                      <td>Bank</td>
                      <td><input type="text" name="lCIssuanceBank" [(ngModel)]="data.lCIssuanceBank"
                        #lCIssuanceBank="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beneCountry.invalid }" required>
                        <span> <div *ngIf="f.submitted && lCIssuanceBank.invalid" class="invalid-feedback">
                           <div *ngIf="lCIssuanceBank.errors.required">Bank is required</div>
                       </div></span></td>
                   </tr>
                   <!-- <tr>
                      <td>Branch</td>
                      <td><input type="text" name="offeredPrice" [(ngModel)]="data.offeredPrice"
                         #offeredPrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && offeredPrice.invalid }" required>
                        <span> <div *ngIf="f.submitted && offeredPrice.invalid" class="invalid-feedback">
                           <div *ngIf="offeredPrice.errors.required">Branch is required</div>
                       </div></span>
                     </td>
                   </tr>
                   <tr>
                      <td>Swift Code</td>
                      <td><input type="text" maxlength="11" name="participationBasis" [(ngModel)]="data.participationBasis"     
                          #participationBasis="ngModel" [ngClass]="{ 'is-invalid': f.submitted && participationBasis.invalid }" required>
                        <span> <div *ngIf="f.submitted && participationBasis.invalid" class="invalid-feedback">
                           <div *ngIf="participationBasis.errors.required">swift Code is required</div>
                       </div></span>
                     </td>
                   </tr> -->
                   <tr>
                      <td>Bank Country</td>
                      <td>
                         <select name="lCIssuanceCountry" [(ngModel)]="data.lCIssuanceCountry" [disabled]="lCIssuanceCountry && appBenBAC"
                         #lCIssuanceCountry="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lCIssuanceCountry.invalid }" required>
                         
                            <option [ngValue]="null" selected>Select</option>
                            <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                            
                   </select>
                   <span> <div *ngIf="f.submitted && lCIssuanceCountry.invalid" class="invalid-feedback">
                     <div *ngIf="lCIssuanceCountry.errors.required">Bank Country is required</div>
                 </div></span>
                      </td>
                   </tr>
                   <tr>
                     <td>
                       Applicable Law
                     </td>
                     <td>
                        <!-- <input type="text" name="chargesType" [(ngModel)]="data.chargesType"> -->
                        <select name="applicableLaw" [(ngModel)]="data.applicableLaw" (change)="onBGSelect($event.target.value);" >                       
                           <!-- <option [ngValue]='data.applicableLaw' selected>{{data.applicableLaw}}</option> -->
                           <!-- <option [ngValue]='UK'>UK</option> -->
                           <option value='UK'>UK</option>
                              <option value='US'>US</option>
                              <option value = "">Other</option>
                        </select>
                     </td>
                  </tr>
                  <!-- <tr *ngIf="data.applicableLaw != 'UK' && data.applicableLaw != 'US'"> -->
                     <tr *ngIf="isBgOther">
                     <td>Other</td>
                     <td> <textarea name="" id="name" cols="30" rows="1"  name="applicableLaw"
                           [(ngModel)]="data.applicableLaw"
                           #applicableLaw="ngModel" [ngClass]="{ 'is-invalid': f.submitted && applicableLaw.invalid }" required></textarea>
                           <span *ngIf="f.submitted && applicableLaw.invalid  && applicableLaw.errors.required" class="invalid-feedback"> 
                            Applicable Law is required
      </span>
                     </td>
                     </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                   <thead>
                      <tr>
                         <!-- <th colspan="2">Product Details</th> -->
                         <th colspan="2">Transaction Details</th>
                      </tr>
                   </thead>
                   <tbody>
                   
                     
                      <tr>
                         <td>Participation Basis </td>
                         <td>
                             <!-- working. <input type="text" onPaste="return false" maxlength="11" name="secTransactionType" 
                             (keypress)="validateRegexFields($event, 'number')" [(ngModel)]="data.secTransactionType"> -->
                         
                             <select name="secTransactionType" 
                             [(ngModel)]="data.secTransactionType" #secTransactionType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && secTransactionType.invalid }" required >                                 
                                <option value='Funded'>Funded</option>
                                <option value='Unfunded'>Unfunded</option>
                                </select>
                                <span> <div *ngIf="f.submitted && secTransactionType.invalid" class="invalid-feedback">
                                 <div *ngIf="secTransactionType.errors.required">Participation Basis  is required</div>
                             </div></span>
                         
                         </td>
                      </tr>
                      <tr>
                        <td>Participation Basis </td>
                        <td>
                            <select name="participationBasis" 
                            [(ngModel)]="data.participationBasis" #participationBasis="ngModel" [ngClass]="{ 'is-invalid': f.submitted && secTransactionType.invalid }" required >                                 
                               <option value='Disclosed'>Disclosed</option>
                               <option value='Undisclosed'>Undisclosed</option>
                               </select>
                               <span> <div *ngIf="f.submitted && participationBasis.invalid" class="invalid-feedback">
                                <div *ngIf="participationBasis.errors.required">Participation Basis  is required</div>
                            </div></span>
                        
                        </td>
                     </tr>
                      <tr>
                         <td>Product </td>
                         <td>
                            <select name="requirementType" (change)="changeReqType($event)" 
                            [(ngModel)]="data.requirementType" [disabled]="productType">                                 
                               <option value='Confirmation'>Confirmation</option>
                               <option value='Discounting'>Discounting</option>
                               <option value='Refinance'>Refinancing</option>
                               <option value='ConfirmAndDiscount'>Confirmation and Discounting</option>
                               <option value='Banker'>Banker’s Acceptance</option>
                               <option value="BankGuarantee">Bank Guarantee</option>
                            </select>
                         </td>
                      <tr>
                      <tr>
                         <td>Amount</td>
                         <td><input type="text" onPaste="return false" maxlength="11" name="lCValue" (keypress)="validateRegexFields($event, 'number')" [(ngModel)]="data.lCValue"
                           #lCValue="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lCValue.invalid }" required>
                           <span> <div *ngIf="f.submitted && lCValue.invalid" class="invalid-feedback">
                              <div *ngIf="lCValue.errors.required">Amount is required</div>
                          </div></span>
                        </td>
                      </tr>
                      <tr>
                         <td>Currency</td>
                         <td>
                           
                           <select class="edit-selectColor" name="lCCurrency" [(ngModel)]="data.lCCurrency"
                           #lCCurrency="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lCCurrency.invalid }" required>
                            <option *ngFor="let data of currencies"  [ngValue]='data'>{{data}}</option>
                           </select>
                          
                           <span> <div *ngIf="f.submitted && lCCurrency.invalid" class="invalid-feedback">
                              <div *ngIf="lCCurrency.errors.required">Currency is required</div>
                          </div></span>
                         </td>
                      </tr>
                      <tr>
                         <td>Target Booking Date</td>
                         <td><input type="date" name="lCIssuingDate" [ngModel]="data.lCIssuingDate | date:'yyyy-MM-dd'" 
                           [min]="CurrentDate | date:'yyyy-MM-dd'"  (ngModelChange)="data.lCIssuingDate = $event;calculateDiff()"
                           #lCIssuingDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lCIssuingDate.invalid }" required>
                           <span> <div *ngIf="f.submitted && lCIssuingDate.invalid" class="invalid-feedback">
                              <div *ngIf="lCIssuingDate.errors.required">Partiticipation Booking Date is required</div>
                          </div></span>
                        </td>
                      </tr>
                      <tr>
                         <td>Transaction Maturity date of underlying transaction</td>
                         <td><input type="date" name="lcMaturityDate" [ngModel]="data.lcMaturityDate | date:'yyyy-MM-dd'" 
                           [min]="data.lCIssuingDate | date:'yyyy-MM-dd' || CurrentDate | date: 'yyyy-MM-dd'" (ngModelChange)="data.lcMaturityDate = $event;calculateDiff()"
                           #lcMaturityDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lcMaturityDate.invalid }" required>
                           <span> <div *ngIf="f.submitted && lcMaturityDate.invalid" class="invalid-feedback">
                              <div *ngIf="lcMaturityDate.errors.required">Partiticipation Maturity Date is required</div>
                          </div></span>
                        </td>
                      </tr>
                      <tr >
                         <td>Tenor</td>
                         <td><input type="text" name="usanceDays" [(ngModel)]="data.usanceDays" [disabled]="tenorType"></td>
                     </tr>
                     <span style="color: red" *ngIf="data.usanceDays == '0'" >The tenor should be greater than zero. Please select valid Maturity Date </span>
                      <tr>
                         <td>Goods/Services</td>
                         <td>
                            <select class="edit-selectColor" name="goodsType" [(ngModel)]="data.goodsType" (change)="onItemSelect($event.target.value)"
                            #goodsType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && goodsType.invalid }" >
                               <option *ngFor="let data of goodsArray" [ngValue]='data.productCategory'>{{data.productCategory}}</option>                                                                      

                           </select>
                           <!-- <span> <div *ngIf="f.submitted && goodsType.invalid" class="invalid-feedback">
                              <div *ngIf="goodsType.errors.required">Goods/Services is required</div>
                          </div></span> -->
                         </td>
                     </tr>
                     <tr>
                         <td>Quote Validity 
                            <a class="" data-toggle="tooltip" data-placement="right" title="The date before which bank needs to place the quote"><i
                               class="fas fa-info-circle"
                               style="font-size: 11px !important;color: #333;"></i></a>
                         </td>
                         <!-- <td><input type="date" name="validity"  [min]="CurrentDate" onkeydown="return false" [ngModel]="data.validity | date:'yyyy-MM-dd'" 
                            (ngModelChange)="data.validity = $event"></td> -->
                            <td><input type="date" name="validity"  [min]="CurrentDate" onkeydown="return false" [ngModel]="data.validity | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.validity = $event"  #validity="ngModel" [ngClass]="{ 'is-invalid': f.submitted && validity.invalid }" required>
                              <span> <div *ngIf="f.submitted && validity.invalid" class="invalid-feedback">
                                 <div *ngIf="lcMaturityDate.errors.required">validity Date is required</div>
                             </div></span>
                           </td>
                      </tr>
                      <tr>
                         <td class="checkbox" style="margin-top:10px!important;">
                      <label>  <a class="textddlV" data-toggle="tooltip" data-placement="auto" title= "Environmental, Social and Governance" >
                           <i class="fas fa-info-circle" style="font-size: 11px !important;color: #333;cursor: pointer;"></i></a> 
                     
                          <input type="checkbox"  name="isESGComplaint"  
                          [ngModel]="data.isESGComplaint =='Yes'" (ngModelChange)="data.isESGComplaint=$event?'Yes':'No'">   
                          Is ESG Compliant ? 
                       </label></td>
                       <td></td>
                    </tr>
                   </tbody>
                </table>
                <table class="table table-bordered">
                 <tbody>
                     <tr>
                         <th colspan="2">Loading Goods</th>
                      </tr>
                    <tr>
                       <td>Country</td>
                       <td>
                          <select [(ngModel)]="data.loadingCountry" name="loadingCountry" (change)="portLoadingOnchange(data.loadingCountry)"
                          #loadingCountry="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loadingCountry.invalid }" >
                             <option [ngValue]="null" selected>Select</option>
                                <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                           </select>
                           <!-- <span> <div *ngIf="f.submitted && loadingCountry.invalid" class="invalid-feedback">
                              <div *ngIf="loadingCountry.errors.required">loading Country is required</div>
                          </div></span> -->
                       </td>
                    </tr>
                    <tr>
                       <td>Port of Loading</td>
                       <td>
                      <select [(ngModel)]="data.loadingPort" name="loadingPort"
                      #loadingPort="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loadingPort.invalid }">
                       <option [ngValue]="null" selected>Select</option>
                       <option *ngFor="let data of portOfLoading" [ngValue]='data.port'>{{data.port}} ({{data.code}})</option>
                  </select>
                  <!-- <span> <div *ngIf="f.submitted && loadingPort.invalid" class="invalid-feedback">
                     <div *ngIf="loadingPort.errors.required">loading Port is required</div>
                 </div></span> -->
                    </td>
                    </tr>
                    <tr>
                     <th colspan="2">Discharge Goods</th>
                  </tr>
                    <tr>
                       <td>Country</td>
                       <td>
                          <select [(ngModel)]="data.dischargeCountry" name="dischargeCountry" (change)="portDischargeOnchange(data.dischargeCountry)"
                          #dischargeCountry="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loadingPort.invalid }" >
                             <option [ngValue]="null" selected>Select</option>
                             <option *ngFor="let data of countryName" [ngValue]='data.country'>{{data.country}}</option>
                        </select>
                        <!-- <span> <div *ngIf="f.submitted && dischargeCountry.invalid" class="invalid-feedback">
                           <div *ngIf="dischargeCountry.errors.required">Discharge Port is required</div>
                       </div></span> -->
                     </td>
                    </tr>
                    <tr>
                       <td>Port of Discharge</td>
                       <td>
                         <select class="edit-selectColor" name="dischargePort" [(ngModel)]="data.dischargePort"
                         #dischargePort="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loadingPort.invalid }" >
                          <option [ngValue]="null" selected>Select</option>
                          <option *ngFor="let data of portOfDischarge" [ngValue]='data.port'>{{data.port}} ({{data.code}})</option>
                     </select>
                     <!-- <span> <div *ngIf="f.submitted && dischargeCountry.invalid" class="invalid-feedback">
                        <div *ngIf="dischargeCountry.errors.required">Discharge Port is required</div>
                    </div></span> -->
                       </td>
                    </tr>
                   
                 </tbody>
              </table>  
             
                <table class="table table-bordered" >
                      <tbody>
                          <tr>
                              <!-- <th colspan="2">Pricing Guidance </th></tr> -->
                              <th colspan="2">Pricing </th></tr>
                              
                               
                              <tr>
                              <tr>
                               <td>
                                 Commission Scheme
                               </td>
                               <td>
                                  <!-- <input type="text" name="chargesType" [(ngModel)]="data.chargesType"> -->
                                  <!-- <select name="commissionScheme" [(ngModel)]="data.commissionScheme">                            
                                     <option [ngValue]='data.commissionScheme' selected>{{data.commissionScheme}}</option>
                                     <!-- <option *ngFor="let data of chargesTypeArr" [ngValue]='data'>{{data}}</option> 
                                  </select> -->
                                  <select name="commissionScheme" 
                                  [(ngModel)]="data.commissionScheme" >  
                                       <option value='Rear Ended'>Rear Ended</option>
                                       <option value='Front Ended'>Front Ended</option>
                                       </select>
                               </td>
                            </tr>
                            <tr>
                             <td>Minimum Partiticipation Amount</td>
                             <!-- <td><input type="text" onPaste="return false" maxlength="11" 
                                 name="minParticipationAmt" (keypress)="validateRegexFields($event, 'number')" 
                                 [(ngModel)]="data.minParticipationAmt" (input)="preview($event.target.value)"></td> -->
                                 <td><input type="text" onPaste="return false" maxlength="11" 
                                 name="minParticipationAmt" (keypress)="validateRegexFields($event, 'number')" 
                                 [ngModel]="data.minParticipationAmt" (ngModelChange)="data.minParticipationAmt = $event" (input)="preview($event.target.value)"
                                 #minParticipationAmt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && minParticipationAmt.invalid }" required>
                                 <span> <div *ngIf="f.submitted && minParticipationAmt.invalid" class="invalid-feedback">
                                    <div *ngIf="minParticipationAmt.errors.required">Minimum Partiticipation Amount is required</div>
                                </div></span>
                              </td>
                          </tr>
                          
                          <span *ngIf="errMsg" style="color: red;font-size: smaller;"><p > Minimum Partiticipation and Retention Amount cannot be greater than LC Amount</p></span>
                          <tr>
                             <td>Retention Amount</td>
                             <td><input type="text" onPaste="return false" maxlength="11" name="retentionAmt"
                                  (keypress)="validateRegexFields($event, 'number')" [(ngModel)]="data.retentionAmt" (input)="previewamout($event.target.value)"
                                  #retentionAmt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && retentionAmt.invalid }" required>
                                 <span> <div *ngIf="f.submitted && retentionAmt.invalid" class="invalid-feedback">
                                    <div *ngIf="retentionAmt.errors.required">Retention Amount is required</div>
                                </div></span>
                                 </td>
                          </tr>
                          <tr>
                           <td>Offered Price</td>
                           <td><input type="text" name="offeredPrice" maxlength="20" [(ngModel)]="data.offeredPrice"
                             #offeredPrice="ngModel" >
                             
                           </td>
                         </tr>
                          <tr *ngIf="data.secTransactionType == 'Funded'">
                             <td>Benchmark</td>
                            
                             <td> <textarea name="" id="" cols="30" rows="1"  name="benchmark" maxlength="6"
                                  (keypress)="validateRegexFields($event, 'number')" [(ngModel)]="data.benchmark"
                                  #benchmark="ngModel" [ngClass]="{ 'is-invalid': f.submitted && benchmark.invalid }" required>
                                  </textarea>
                                  <span *ngIf="f.submitted && benchmark.invalid  && benchmark.errors.required" class="invalid-feedback"> 
                                    Benchmark is required
              </span>
                             </td>
                             
                             </tr>
                             
                          <tr>
                             <td>Any Other Conditions</td>
                             <td> <textarea name="" id="" cols="30" rows="3"  name="otherCondition" 
                                 (keypress)="validateRegexFields($event, 'alphaNum')" [(ngModel)]="data.otherCondition"></textarea>
                                </td>
                          </tr>
                         
                          


                      </tbody>
                  </table>
                                 
                   
                     <br>
                     <button type="submit" class="btn btn-info pull-right" [disabled]="errMsg || data.usanceDays == '0'">
                     Preview
                     <div class="ripple-container"></div>
                  </button>
                 </form>
  
                 </div>
              </div>
  
              <div class="tab-content" id="tab2" *ngIf="tab==='tab2'">
                 <div class="tab-pane active datadiv" id="pill1" style="overflow: auto;height: 100%;padding-bottom: 110px;">
                    <table class="table table-bordered">
                       <tbody>
                        <tr *ngIf="data.applicantName || data.applicantCountry">
                           <th colspan="2">Applicant</th>
                        </tr>
                        <tr *ngIf="data.applicantName != ''">
                           <td>Name</td>
                            <td>{{data.applicantName}}</td>
                        </tr>
                        <tr *ngIf="data.applicantCountry">
                           <td>Country</td>
                           <td>{{data.applicantCountry}}</td>
                        </tr>
                         
                       </tbody>
                    </table>
                    <table class="table table-bordered">
                       <tbody>
                        <tr *ngIf="data.beneName || data.beneCountry">
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr *ngIf="data.beneName">
                           <td>Name </td>
                           <td>{{data.beneName}}</td>
                        </tr>
                        <tr *ngIf="data.beneCountry">
                           <td>Country</td>
                           <td>{{data.beneCountry}}</td>
                        </tr>
                          <!-- <tr><th>Issuance Bank Details</th></tr> -->
                          <tr><th>Obligor Bank Details</th></tr>
                          <tr>
                             <td>Bank</td>
                             <td>{{data.lCIssuanceBank}}</td>
                          </tr>
                          <!-- <tr>
                             <td>Branch</td>
                             <td>{{data.offeredPrice}}</td>
                          </tr>
                          <tr>
                             <td>Swift Code</td>
                             <td>{{data.participationBasis}}</td>
                          </tr>-->
                          <tr> 
                             <td>Bank Country</td>
                             <td>{{data.lCIssuanceCountry}}</td>
                          </tr>
                          <tr>
                           <td>Applicable Law</td>
                           <td>{{data.applicableLaw}}</td>
                          </tr>
                       </tbody>
                    </table>
                    <table class="table table-bordered">
                       <thead>
                          <tr>
                             <!-- <th colspan="2">Product Details</th> -->
                             <th colspan="2">Transaction Details</th>
                          </tr>
                       </thead>
                       <tbody>
                         <tr>
                             <td>Participation Basis </td>
                             <td>{{data.secTransactionType}}</td>
                          </tr>
                          <tr >
                           <td>Participation Basis  </td>
                           <td>{{data.participationBasis}}</td>
                        </tr>
                          <tr>
                             <td>Product</td>
                             <td>{{data.requirementType == 'ConfirmAndDiscount' ? 'Confirmation and Discounting' : ''}}</td>
                          </tr>
                          <tr>
                             <td>Amount</td>
                             <td>{{data.lCValue | number}}</td>
                          </tr>
                          <tr *ngIf="data.lCCurrency">
                             <td>Currency</td>
                             <td>{{data.lCCurrency}}</td>
                          </tr>
                          <tr>
                             <td>Target Booking Date</td>
                             <td>{{data.lCIssuingDate | date : 'dd-MM-y'}}</td>
                          </tr>
                          <tr>
                             <td>Transaction Maturity date of underlying transaction</td>
                             <td>{{data.lcMaturityDate | date : 'dd-MM-y'}}</td>
                          </tr>
                          <tr>
                             <td>Tenor</td>
                             <td>{{data.usanceDays}}</td>
                         </tr>
                          <tr *ngIf="data.goodsType">
                             <td>Goods/Services</td>
                             <td>{{data.goodsType}}</td>
                          </tr>
                          <!-- <tr *ngIf="isBankOther">
                             <td>Others</td>
                             <td>{{data.otherType}}</td>
                          </tr> -->
 
                          <tr>
                             <td>Quote Validity
                                <a class="" data-toggle="tooltip" data-placement="right" title="The date before which bank needs to place the quote"><i
                                   class="fas fa-info-circle"
                                   style="font-size: 11px !important;color: #333;"></i></a>
                             </td>
                             <td>{{data.validity | date : 'dd-MM-y'}}</td>
                          </tr>
                          <tr  *ngIf="data.isESGComplaint">
                             <td> Is ESG Compliant ? 
                              <a class="" data-toggle="tooltip" data-placement="right" title="Environmental, Social and Governance"><i
                                 class="fas fa-info-circle"
                                 style="font-size: 11px !important;color: #333;"></i></a>
                             </td>
                             <td>{{data.isESGComplaint}}</td>
                         </tr>
 
 
                       </tbody>
                    </table>
                     
                    <table class="table table-bordered">
                       <tbody>
                        <tr *ngIf="data.loadingCountry || data.loadingPort">
                           <th colspan="2">Loading Goods</th>
                        </tr>
                        <tr *ngIf="data.loadingCountry">
                           <td>Country</td>
                           <td>{{data.loadingCountry}}</td>
                        </tr>
                        <tr *ngIf="data.loadingPort">
                           <td>Port of Loading</td>
                           <td>{{data.loadingPort}}</td>
                        </tr>
                        <tr *ngIf="data.dischargeCountry || data.dischargePort">
                           <th colspan="2">Discharge Goods</th>
                        </tr>
                        <tr *ngIf="data.dischargeCountry">
                           <td>Country</td>
                           <td>{{data.dischargeCountry}}</td>
                        </tr>
                        <tr *ngIf="data.dischargePort">
                           <td>Port of Discharge</td>
                           <td>{{data.dischargePort}}</td>
                        </tr>
                         
                         
                       </tbody>
                    </table>
                    <table class="table table-bordered">
                     <tbody>
                         <tr>
                             <th colspan="2">Pricing </th></tr>
                    
                    <tr>
                     <td> Commission Scheme</td>
                     <td>{{data.commissionScheme}}</td>
                    </tr>
                   
                    <tr>
                     <td>Minimum Partiticipation Amount</td>
                     <td>{{data.minParticipationAmt | number}}</td>
                    </tr>
                    <tr *ngIf="data.retentionAmt">
                     <td>Retention Amount</td>
                     <td>{{data.retentionAmt | number }}</td>
                    </tr>
                    <tr *ngIf="data.offeredPrice">
                     <td>Offered Price</td>
                     <td>{{data.offeredPrice}}</td>
                    </tr>
                    <tr *ngIf="data.secTransactionType == 'Funded'">
                     <td>Benchmark</td>
                     <td>{{data.benchmark}}</td>
                    </tr>
                    <tr *ngIf="data.otherCondition">
                     <td>Any Other Conditions</td>
                     <td>{{data.otherCondition}}</td>
                    </tr>
 
                 </tbody>
             </table>
 
 
                    <br>
                    <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('submit',data)">
                       Submit
                       <div class="ripple-container"></div>
                    </button>
                    <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('edit',data)">
                       Edit
                       <div class="ripple-container"></div>
                    </button>
                    <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('cancel',null)">
                       Cancel
                       <div class="ripple-container"></div>
                    </button>
              </div>
             
           </div>
           <div class="tab-content" id="tab3" *ngIf="tab==='tab3'">
              <div class="tab-pane active" style="margin-top: 50%;text-align: center;" id="pill1">
                 <table class="table">
                    <tbody>
                       <tr *ngIf="okSucessmsg =='ok'">
                          <td colspan="2" class="text-center">
                             <p style="text-align: center;">Your LC Transaction has been successfully updated. <br/>Keep checking the Active Transaction section for the quotes received.</p>
                          </td>
                       </tr>
                       <tr *ngIf="cancelSucessmsg=='cancel'">
                          <td colspan="2" class="text-center">
                             <p style="text-align: center;"> Your LC Transaction has been successfully Cancelled.</p>
                          </td>
                       </tr>
                    </tbody>
                 </table>
                 <div class="posfix">
                    <button class="btn btn-info" (click)="transaction('ok',null)">
                       OK
                       <div class="ripple-container"></div>
                    </button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
 </div>
 
 
  <div id="myModalCD" class="modal3" style="display: none;">
    <div class="modal-content-image">
     <div class="col-md-12 arrow_box"><button type="button" class="close-image" (click)="close()">&times;</button></div>
     <div class="modal-body" style="text-align:center">
       <h4>Attached document</h4>
       <div class="row">
         <div class="col-md-12">
          <img style="height: 100%; width: 100%;" *ngIf="imgDownload" [src]="document" alt=""/>
          <a style="cursor: pointer;color: blue;margin-left: 5px!important" (click)="download()">{{isDownloadORview}}</a>
 
       </div>
       </div>
     </div>
   </div>
 </div>
 
 <div id="cancelTrasactioncnd" style="display: none;top: 20%;z-index: 9999;opacity: 1;" class="popupnew modal fade" >
    <div class="modal-dialog modal-md emaildiv">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-body">
             <h2>Cancel Transaction </h2>
             <div class="padnew">
                <div class="row">
                   <!--<p><strong>Enter Email ID here</strong></p> -->
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-12">
                            <h5>Are you sure want to cancel this transaction ?</h5>                           
                         </div>
                      </div>
                      <button type="submit" class="handleRefEdit btn btn-info pull-right" (click)="transaction('cancelTransaction',null)">Yes</button>
                      <button type="submit" class="handle1 btn btn-info pull-right" (click)="transaction('notCancelTransaction',null)">No</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>